h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
}

#mainPage {
	padding-left: 10px;
	padding-right: 10px;
	width: 90%;
	height: 450px;
}

#loadingMessage {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #913636;
	background: #f1d8d8;
	position: absolute;
	float: left;
	z-index: 2;
}

.sectionHeading {
	margin-top: 10px;
	border-top: 1px solid #b9cef4;
	border-left: 1px solid #b9cef4;
	border-bottom: 1px solid #a5b7d6;
	border-right: 1px solid #a5b7d6;
	background: #e6eefe;
	border-bottom: none;
	padding: 5px;
	font-weight: bold;
}

.section, .subsection {
	padding: 8px;
	border: solid 1px #b9cef4;
}

.subsection {
	border-bottom: none;
}

#mainMenu {
	padding-bottom: 5px;
	border-bottom: solid 1px #b9cef4;
	font-family: Arial, Helvetica, Sans, sans-serif;
	font-size: 13px;
	
}

#mainMenu .menuItem, #mainMenu .activeMenuItem {
	display: inline;
	border: solid 1px #b9cef4;
	background: #e6eefe;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	margin-left: 10px;
	font-weight: bold;
	cursor:pointer;
	cursor:hand;

}

#mainMenu .activeMenuItem {
	border-bottom: solid 1px #ffffff;
	background: #ffffff;
}

#sMenu {
	padding-top: 4px;
	padding-bottom:4px;
	border-bottom: solid 1px #b9cef4;
	font-family: Arial, Helvetica, Sans, sans-serif;
	font-size: 13px;
}

#sMenu .menuItem, #sMenu .activeMenuItem {
	display: inline;
	background: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	font-weight: normal;
	cursor:pointer;
	cursor:hand;
}

#sMenu .activeMenuItem {

	background: #e6eefe;
}

.menuNotice {
	display: inline;
	padding: 20px;
	text-align: center;
}

body {
	font-family: Arial, Helvetica, Sans, sans-serif;
	font-size: 13px;
	margin-left: 0px;
	margin-right: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

table tr td {
	font-size: 13px;
}

table tr th {
	font-size: 13px;
}

.dataTable {
	border-top: 1px solid #b9cef4;
	border-left: 1px solid #b9cef4;
	padding: 0px;
}

.dataTable tr td{
	border-bottom: 1px solid #b9cef4;
	border-right: 1px solid #b9cef4;
	padding: 4px;
}

.dataTable tr.row0:hover, .dataTable tr.row1:hover {
	background: #e6eefe;
	color: #3333cc;
}

.dataTable tr th {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #a5b7d6;
	border-right: 1px solid #a5b7d6;
	background: #e6eefe;
	cursor:pointer;
	cursor:hand;
	padding-left: 6px;
	padding-right: 5px;
}


.dataTable tr th .activeColumn {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #a5b7d6;
	border-left: 1px solid #a5b7d6;
	background: #000;

}

.dataTable tr.row0 {

}

.dataTable tr.row1 {
	background: #f6f6f6;
}

.dataTable tr.totals {
	height:25px;
	background: #EEE;
	font-weight: bold;
}

input, textarea, select {
	font-size: 13px;
	font-family: Arial, Helvetica, Sans, sans-serif;
	padding: 2px;
	border-top: 1px solid #b9cef4;
	border-left: 1px solid #b9cef4;
	border-bottom: 1px solid #a5b7d6;
	border-right: 1px solid #a5b7d6;
}

select {
	border: none;
}

.clickable {
	margin-top: 5px;
	cursor:pointer;
	cursor:hand;
}

.dataEntryField {
	display: inline;
}