@import url('https://zyppapp.com/app/assets_front/fonts/Avenir.otf');

@import url('https://zyppapp.com/assets_front/fonts/Avenir.woff');

@font-face {
font-family: "AvenirLight LT Std 35 Light";
src: url('https://zyppapp.com/assets_front/fonts/Avenir.otf');
src: url('https://zyppapp.com/assets_front/fonts/Avenir.woff') format('woff');
}

html, body {
  font-family: "AvenirLight LT Std 35 Light";
  margin: 0;
  padding: 0;
}

a:hover, a:focus {
  text-decoration: none;
}

*:focus {
    outline: none;
   }

.home_big_logo {
	padding-top: 50px;
	position: relative;
	text-align: center;
}
.account-buttons {
	position: relative;
	text-align: center;
}

.account-btn {
	background: transparent none repeat scroll 0 0;
	border: 1px solid;
	border-radius: 4px;
	color: #fff;
	font-size: 29px;
	margin: 0 15px;
	padding: 10px 65px;
	letter-spacing: 1px;
}

.lets-zypp-btn {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}
.lets-zypp-btn .after_login {
	background: transparent none repeat scroll 0 0;
	border: 1px solid;
	border-radius: 4px;
	color: #fff;
	font-size: 29px;
	margin: 0 15px;
	padding: 10px 65px;
	letter-spacing: 1px;
}
.account-btn:hover, .account-btn:focus, .account-btn:active {
	/*background-color: #50e3c2;*/
	color: #fff;
	/*border: 1px solid #50e3c2;*/
}
.search-box {
  margin: auto;
  padding: 70px 0;
  position: relative;
  width: 80%;
}

.search-text {
  color: #fff;
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 90%;
}

.search-text h1 {
  font-size: 42px;
  font-weight: 900;
  line-height: 50px;
}


.search-text h3 {
	font-size: 26px;
	line-height: 40px;
	font-weight: 900;
}

#searchbox {
  /*background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;*/
  /*background: rgba(0, 0, 0, 0.5);*/
	margin-bottom: 12px;
	margin-top: 15px;
	padding: 50px 0 24px;
	width: 82%;
	margin:auto;
}

#searchbox .sign-in-btn {
  padding:12px;
  margin-bottom: 0px;
}

.front_terms {
  background: #fff;
  border: 0;
  border-radius: 3px;
  margin-bottom: 20px;
}


.hm_search_field input {
	background-color: #fff;
	border: 1px solid #bdbabe;
	border-radius: 0;
	color: #4d4d4d;
	display: block;
	font-size: 18px;
	height: 50px;
	margin-bottom: 10px;
	padding: 7px 20px;
	position: relative;
	text-indent: 0;
	width: 94.3%;
	float: left;
	text-align: center;
}


.map-location-icon {
  float: left;
}

.map-location-icon i, .search-icon i {
  color: #fff;
  font-size: 26px;
  height: 50px;
  padding: 10px 16px;
}

.map-location-icon i {
  background: #50E3C2;
}

.search-icon i {
  background: #bdbabe none repeat scroll 0 0;
}



/**********************************************/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;
}

.top-navbar {
  background: #9012fe none repeat scroll 0 0;
  border-bottom: 1px solid #bdbabe;
  border-top: 2px solid #bdbabe;
  padding: 0px 0;
}

.logo-column .navbar-brand {
	height: auto;
	padding: 12px 0 5px;
	width: 100%;
	text-align: center;
}

.cart-section {
  font-size: 20px;
  padding: 8px 0;
  text-align: right;
  width: 70%;
}

.cart-section > a {
  color: #BDBABE;
}

.cart-quantity {
  background-color: #50e3c2;
  border: 0px solid #fff;
  border-radius: 50%;
  font-size: 12px;
  height: 20px;
  padding: 0 5px;
  position: absolute;
  right: 32px;
  top: 9px;
  width: 20px;
  color: #9012fe;
  line-height: 20px;
  text-align: center;
}

.cart-section:hover #cart-item {
  display: block;
}
#modal-checkout .modal-dialog {
	margin-top: 6%;
}
#modal-checkout .modal-content {
	width: 100%;
	background-color: transparent;
}
#modal-checkout button.close {
	font-size: 20px;
	line-height: 30px;
	/* float: right; */
	border: 2px solid #fff;
	padding: 0 10px;
	border-radius: 0px;
	color: #fff;
	font-weight: 500;
}
.checkout-image-popup {
	position: relative;
	text-align: center;
	padding: 20px 0 10px 0;
	background: #50e3c2;
}
.checkout-option-popup {
	position: relative;
	padding: 25px 0;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: #9012fe;
	font-weight: 600;
	background: #fff;
}
.buttons-inline {
	position: relative;
	margin: 30px 0;
}
.buttons-inline a {
	background: #9012fe;
	padding: 10px 20px;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 5px;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
}
.buttons-inline a:hover {
	background: #fff;
	color: #9012fe;
	border: 2px solid #9012fe;
}



.single-product-image-cart {
  overflow: hidden;
  width: 75px;
  height: 75px;
  float: left;
}

.single-product-image-cart img {
  width: 100%;
}

.update_cart_btn {
	background: #9012fe none repeat scroll 0 0 !important;
	border: 1px solid transparent;
	border-radius: 9px;
	font-size: 14px;
	margin: 8px;
	padding: 5px;
	width: 40% !important;
	text-align: center;
	position: absolute;
	bottom: -38px;
	right: 0;
	z-index: 9;
}

.update_cart_btn a {
	color: #fff;
	text-transform: capitalize;
}
/*****************************************************/

.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav > li {
    float: none;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar_logo {
  position: relative;
  
  height: 140px;
}

.logo_col {
  position: relative;
  width: 90%;
  float: left;
 
}

#sidebar-wrapper .navbar-nav {
  display: block;
  height: calc(100% - 50px);
  margin: 0 0 auto;
  padding-bottom: 100%;
  padding-top: 0;
  width: 90%;
}

#sidebar-wrapper .nav > li > a {
  border-bottom: 1px solid #bdbabe;
  color: #4d4d4d;
  display: block;
  font-size: 16px;
  font-weight: lighter;
  margin-left: 25px;
  padding: 13px 0;
  position: relative;
  text-align: left;
  text-transform: capitalize;
}

#sidebar-wrapper .nav > li a:hover, #sidebar-wrapper .nav > li a:focus, #sidebar-wrapper .nav > li a:active {
  background: #fff none repeat scroll 0 0;
}

.btn_mycart {
  background-color: #50e3c2;
  margin: 25px 0 0 15px;
}

.btn_logout {
  background-color: #9012FE;
  margin: 15px 0 0 15px;
}

#sidebar-wrapper .nav > li.btn_mycart > a, #sidebar-wrapper .nav > li.btn_logout > a {
  color: #fff;
  font-size: 14px;
  padding: 10px 15px 10px 0;
  text-transform: uppercase;
}

#sidebar-wrapper .nav > li.btn_mycart > a:hover {
  background-color: #50e3c2; 
}

#sidebar-wrapper .nav > li.btn_logout > a:hover {
  background-color: #9012fe; 
}

.btn_logout a i {
  font-size: 20px;
}

.social-icons-list {
  list-style: outside none none;
  margin: auto;
  padding-top: 20px;
  width: 70%;
  padding-left: 20px;
}

.social-icons-list > li {
  float: left;
  margin: 2%;
  width: 29%;
}

.social-icons-list img {
  width: 100%;
}
/***************************END SIDEBAR******************************/

/**************************LOGIN_REGISTER_PAGE******************************/

.panel_page {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  margin-bottom: 0;
  position: relative;
  top: 52px;
}

.login-register-page {
  padding-bottom: 30px;
}

.big_logo {
  padding-top: 30px;
  text-align: center;
}

.signin-form, .signup-form {
  margin: 30px auto;
  width: 33%;
}

.signup-form input, .signin-form input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  height: 48px;
  margin-bottom: 25px;
  text-align: left;
  /*text-transform: capitalize;*/
}

.signin-form input#password {
  border-right: 0 none;
  float: left;
  width: 86%;
}

.signup-form input#password {
  border-right: 0 none;
  float: left;
  width: 86%;
}

.pwd_icon {
	background: #ebf6fa none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	color: #000;
	font-size: 20px;
	text-align: center;
	width: 14%;
	position: relative;
	height: 48px;
	padding: 0;
}

.forgot_remem {
  font-size: 13px;
  font-weight: 600;
  padding: 5px 0 20px;
  position: relative;
  text-align: right;
}

.forgot_remem a {
  color: #50e3c2;
}

.sign-in-btn {
  background: #50e3c2 none repeat scroll 0 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
}
.sign-in-btn a {
  color: #fff;
  cursor: pointer;
}

.sign-in-btn a span {
  color: #fff;
  margin: 0 10px;
}

.create-account-section {
  font-size: 13px;
  padding: 25px 15px 15px;
  position: relative;
  text-align: left;
}

.create-account-section p {
  color: #777;
  font-weight: 500;
  float:left;
}

.create-account-section span a {
  border: 1px solid #9012fe;
  border-radius: 3px;
  color: #9012fe;
  padding: 5px 20px;
  text-transform: capitalize;
  float:right;
}


.signup-form input[type="checkbox"] {
  float: left;
  height: 20px;
  opacity: 0;
  width: 10%;
}

.terms_agreement {
  margin: 6px 0;
  padding: 10px;
  position: relative;
  width: 86%;
}

.terms_agreement p {
  color: #777;
  font-size: 14px;
  font-weight: lighter;
  width: 100%;
  line-height: 20px;
}

.terms_agreement p span {
  color: #50e3c2;
}

.sign-in-btn input[type="submit"] {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  height: 48px;
  margin: 0;
  text-transform: capitalize;
}

/**************************MODAl***************************************/

#modal-bootstrap-tour {
  background: rgba(0, 0, 0, 0) url("../img/bg2.jpg") no-repeat scroll 0 0 / cover ;
}

.modal .modal-dialog .modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border: 0 none;
  border-radius: 2px;
  box-shadow: none;
  margin: auto;
  outline: 0 none;
  padding: 10px;
  position: relative;
  width: 75%;
}

.modal-body {
  padding: 0 15px;
}

#add_to_cart_modal .modal-header {
  padding: 10px 0;
}

.modal-header {
  border-bottom: 1px solid transparent;
  padding: 0 15px;
}

.modal-footer {
  border-top: 1px solid transparent;
  padding: 0 15px;
}

.popup-header-image {
  margin-top: -30%;
  position: relative;
  text-align: center;
}

.btn-confirm-enter {
  background: #1bec59 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.popup-header-image > img {
  border: 6px solid #fff;
  border-radius: 100%;
}

.popup-text {
  margin: 10px auto;
  width: 90%;
}

.popup-text p {
  color: #777;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
}

.add_cart-text p {
	color: #000;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding-bottom: 15px;
}

.add_cart-text p span {
  text-transform: uppercase;
  color: #9012FE;
}

.close {
  color: #000;
  float: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 1;
  text-shadow: 0 1px 0 #fff;
}

/*********************END MOADL ****************************************/


/*********************panel page ****************************************/

.filter-category-desktop {
  list-style: outside none none;
  padding: 50px 20px 20px;
}

.filter-category-desktop li {
	background: #e5e5e5 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
	padding: 13px 0;
	text-align: left;
	height:45px;
}

.filter-category-desktop img {
  width: 100%;
  background: transparent;
}

.filter-category-desktop > li:last-child {
 padding:30px 0;
 background: transparent;
}

.filter-category-desktop li a {
  color: #fff;
  padding: 13px;
}

.filter-category-desktop li.active {
  background: #50E3C2;
}

.prov_array_area {
  margin: 0px auto auto;
  position: relative;
  width: 90%;
}
.prov_array_area1 {
	margin: 0px auto auto;
	position: relative;
	width: 100%;
}
.mrgn-none {
	margin: 0;
}
.pade-none {
	padding: 0 !important;
}
.tab-content {
  
  margin: auto;
  width: 100%;
}

.tab-box {
  border-bottom: 1px solid #bdbabe;
  border-left: 0 solid #bdbabe;
  border-right: 1px solid #bdbabe;
  color: #000;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.tab-product-title {
  padding: 15px;
  position: relative;
}

.tab-product-title h3 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.tab-product-features {
  padding: 1px 15px 15px;
  position: relative;
  margin-top: 50px;
}

.tab-product-detail {
  max-height: 65px;
  overflow: hidden;
  padding: 15px 24px;
  text-align: left;
}

.tab-product-detail > p {
  color: #4d4d4d;
  font-size: 12px;
}

.tab-box .tab-product-image {
  max-height: 155px;
  overflow: hidden;
  padding: 20px;
}

.tab-box .tab-product-image img {
  width: 100%;
}

.pr_search_field input.body_search {
  display: block;
  left: 0;
  margin: 0 auto;
}

.list-box {
	background: #fff none repeat scroll 0 0;
	margin-bottom: 20px;
	padding: 25px 0;
}

.list-content {
  color: #fff;
  padding: 25px 0;
  position: relative;
  text-align: center;
}

.list-btm-text {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  color: #fff;
  font-size: 15px;
  padding: 8px 0;
  text-align: center;
}

.list-content h3 {
  font-size: 28px;
}

.list-content h5 {
  font-size: 22px;
}

.list-btm-text p {
  margin: 0;
}

/*******************************product page**********************************/

.pad-none {
  margin: 0;
}

.cat-product h4 {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  padding: 15px;
  text-transform: uppercase;
}

.cat-product {
  padding: 10px 15px 10px 0;
  text-align: center;
  width: 25%;
}

.cat-image img {
  width: 100%;
}

.tab-product-image > img {
  width: 100%;
}

.filter-category li a img {
  padding: 7px 0 0;
}

.prov_array_title {
  color: #bdbabe;
  text-align: center;
}

.prov_array_title h3 {
  color: #9012fe;
  font-size: 19px;
  margin: 12px;
}

.pro-btm-text {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  color: #fff;
  margin-top: 60px;
  padding: 12px 0 30px;
  text-transform: uppercase;
}

.pro-btm-text p {
  margin: 0 10px;
  font-size: 16x;
  float: left;
}

.pro-btm-text h5 {
  background: #9012fe none repeat scroll 0 0;
  font-size: 12px;
  margin: 0 10px;
  padding: 4px;
  text-align: center;
}

.filter-category {
  list-style: outside none none;
  padding: 0;
}

.filter-category li {
  background: #fff none repeat scroll 0 0;
  border-bottom: 5px solid transparent;
  color: #000;
  float: left;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 12px 1% 10px;
  text-align: center;
}
.filter-category li a {
  color: #bdbabe;
}

.filter-category li.active {
  border-bottom: 5px solid #50e3c2;
  text-align: center;
}

/*****************************end product page*********************************/

/******************************single product************************************/
.main-cart {
	width: 100%;
	height: 100px;
	padding: 10px 6px;
}
.product-name-cart p {
	margin-bottom: 0;
}
.single-product-page {
  background: #fff none repeat scroll 0 0;
}

.single-product-image {
  max-height: 200px;
  overflow: hidden;
}
.product-name-cart {
	float: left;
	width: 55%;
	text-align: left;
	padding: 15px 0 0 20px;
}
.select select {
	position: relative;
	padding: 0 1em 0 0;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font-size: 1.4rem;
	margin: 0;
	color: #808b97;
}
.footer {
	float: left;
	text-align: left;
	background: #2c97de;
	bottom: -39px;
	position: absolute;
	z-index: 2;
	left: 0;
	width: 100%;
	color: #fff;
	padding: 10px 0;
	border-radius: 5px;
}
.footer .checkout {
	color: #ffffff;
	-webkit-transition: color .2s .3s;
	transition: color .2s .3s;
}
.total-cart {
	display: inline-block;
	text-align: center !important;
	padding: 0 0 0 15px;
}
.footer .checkout:hover {
	background: #399ee0;
}

.quantity {
	display: inline;
	color: #808b97;
}
.quantity label {
	font-size: 12px;
	font-weight: normal;
	padding-left: 10px;
}
.remove_cart {
	color: #808b97;
	font-size: 12px;
}

.sub-total-cart {
	float: left;
	padding: 20px 0;
}
.single-product-image > img {
  width: 100%;
  height: 100%;
}

.single-product-features {
  padding: 25px 0 15px 0;
  position: relative;
}

ul.features {
  list-style: outside none none;
  margin-bottom: 20px;
  padding: 0;
}

.features  .cbd, .features  .hybrid {
  background: #141414 none repeat scroll 0 0;
  border: 0 solid transparent;
  border-radius: 5px;
  color: #fff;
  float: left;
  
  font-size: 11px;
  margin: 0 1%;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
 
}
.features .cbd {
	width: 27% !important;
}

.features > li:first-child {
  background: #9012FE none repeat scroll 0 0;
}

.features li span {
  color: #50e3c2;
  font-weight: 600;
}

.single-product-detail {
  color: #555;
  
  padding: 10px;
  position: relative;
}

.single-product-price {
  padding: 10px 0;
  position: relative;
}

.product-price {
  list-style: outside none none;
  padding: 0;
  position: relative;
}

.product-price > li {
	background: #e8e8e8 none repeat scroll 0 0;
	border: 0 solid;
	border-radius: 5px;
	color: #141414;
	float: left;
	font-size: 16px;
	font-weight: 600;
	margin: 2%;
	padding: 0px 0;
	text-align: center;
	width: 20%;
}

/*

.product-price > li:hover {
  background: #9012FE none repeat scroll 0 0;
  color: #fff;
}
*/
.product-price > li .quantity p {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  border: 0 solid;
  border-radius: 3px;
  color: #555;
  font-size: 9px;
  margin: auto;
  padding: 2px;
  text-transform: uppercase;
  width: 80%;
}

.product-price li .rate p {
	color: #555;
	margin: 0;
	padding: 10px;
}
/*
.product-price li:hover .quantity p {
  color: #fff;
}

.product-price li a:active .rate p, .product-price li a:focus .rate p, .product-price li a:focus .quantity p {
  color: #fff;
text-decoration: none;
}

.product-price li:hover .rate p {
  color: #fff;
}*/

.product-price li .quantity .selected {
  display: none;
}

.product-price li:hover .quantity .selected {
  display: block;
}

.product-price li:hover .quantity .unselected {
  display: none;
}

.add_to_cart {
  margin-top: 10px;
  padding: 10px 11px;
  position: relative;
}

button.add_cart_btn {
  background: #141414 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  margin: auto;
  padding: 12px;
  width: 100%;
}

/*******************************end single product********************************/

/*******************************checkout page********************************/

.checkout-product-details {
  max-height: 140px;
  padding: 50px 0 0;
  position: relative;
}

.checkout-product-title {
  margin-top: 15px;
  position: relative;
}

.checkout-product-title h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
}

.checkout-product-title h5 {
  color: #777;
  font-size: 18px;
}

.checkout-product-title p {
  color: #000;
  font-weight: 800;
}

.checkout-quantity button.items-count {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #bdbabe;
	color: #4d4d4d;
	padding: 8px 12px 10px 12px;
}

.checkout-quantity input.input-text {
  border: 1px solid #bab3be;
  font-size: 14px;
  font-weight: 800;
  height: 36px;
  margin-left: -2px;
  margin-right: -2px;
  text-align: center;
  width: 60%;
}

.checkout-product-price {
  padding: 0 15px;
  position: relative;
}

.checkout-product-price h4 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin: 18px 0;
  text-align: right;
}

.popup-buttons-check {
	width: 75% !important;
	float: none !important;
	margin: auto;
}

.popup-buttons-check button.items-count {
	background: #bdbabe none repeat scroll 0 0;
	border: 1px solid #bdbabe;
	color: #000;
	padding: 14px 20px;
	float: left;
}

.popup-buttons-check .input-text {
	font-size: 14px;
	font-weight: 800;
	height: 50px;
	text-align: center;
	width: 50%;
	float: left;
	vertical-align: middle;
	padding: 0px;
}

.popup-buttons-check .input-text h4 {
	font-size: 20px;
	font-weight: 900;
	color: #000;
	margin:0;
}

.popup-buttons-check .input-text p {
	margin: 9px 0 0;
	font-size: 14px;
	line-height: 14px;
}

.agreement input[type="checkbox"] {
  border-radius: 0;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  top: 7px !important;
  vertical-align: top !important;
}

.agreement label {
  color: #4d4d4d;
  
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.agreement a {
  color: #9012fe;
}

.checkout-page hr {
  background: #bab3be none repeat scroll 0 0;
  padding: 1px;
  width: 90%;
}

.checkout_bottom .sign-in-btn {
	padding: 12px;
}

.subtotal > h4, .sub_price  h4 {
  
  font-size: 24px;
  font-weight: 600;
}

.promocode h4 {
  
  font-size: 15px;
  font-weight: 600;
}
.promocode {
	background-color: #1a1422;
	color: #fff;
	padding: 6px 10px;
	font-size: 12px;
	letter-spacing: 1px;
}
.browse {
	text-align: center;
	padding: 15px;
	border: 1px solid #2f2f2f;
	border-radius: 17px;
	text-transform: uppercase;
	font-weight: 700;
}
.brws-hide {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0px;
	opacity: 0;
	cursor: pointer;
	width: 100%;
}
.chkout-head {
	font-size: 23px;
	padding: 20px 0px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.sub_price > input, .sub_price > textarea {
	border: 1px solid #bab3be;
	border-radius: 0;
	box-shadow: none !important;
	height: 40px;
	margin-bottom: 20px;
	padding: 10px;
	width: 70%;
	float: left;
  position:relative;
  
	
}
.reimb{height:40px;}
.reimb > a {
	border: 1px solid #bab3be;
	border-radius: 10px;
	padding: 14px 26px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
}
.reimb-para {
	padding: 10px 0 40px;
}
.input_btn_coupon {
	position: relative;
	width: 30%;
	background: #9012fe;
	height: 40px;
	border: 0;
	font-size: 15px;
	color: #fff;
	line-height: 40px;
	padding: 0;
	float:left;
}

.payment_input {
	width: 100% !important;
}
.address_input {
	width: 100% !important;
  position:relative;
	z-index:99999;
}

.order_total {
	padding: 30px 0;
	position: relative;
}
.order_total > h3 {
	margin: 0;
	text-align: center;
	font-size: 26px;
	font-weight: 700;
}
.order_total h3 span {
  font-weight: 600;
}

.sub_price select {
  border: 1px solid #bab3be;
  color: #000;
  
  font-size: 12px;
  font-weight: 600;
  height: 40px;
  padding: 9px;
  text-align: center;
  text-transform: uppercase;
  width: 220px;
}

.checkout_bottom .terms_agreement {
  padding: 22px 0 13px;
  text-align: left;
  width: 77%;
}

.checkout-page .add_o_cart {
  margin-top: 0;
}
/*******************************end checkout page********************************/

/********************************additional css ****************************************/
.back-to-menu-btn {
  text-align: center;
}

.back-to-menu-btn a {  
  background: #50e3c2 none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  padding: 12px 7%;
  text-transform: uppercase;
}

.confirm-button, .browse-button {
  background: #1bec59 none repeat scroll 0 0;
  
  font-size: 17px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.browse-button {
  background: #50E3C2 none repeat scroll 0 0;
  margin-bottom: 8px;
  font-size: 14px;
}

.view_cart-button {
  background: #9012FE none repeat scroll 0 0;
  
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.confirm-button > a, .browse-button > a, .view_cart-button > a {
  color: #fff;  
}

/*******************************end additional css**************************************/

/***************************************************desktop view index page*******************************************/

.body_search::-moz-placeholder {
  color: #bdbabe;
  opacity: 1;
}

.desktop-footer {
  padding: 30px 0 0;
  position: relative;
}

.footer-links {
  margin: auto;
  padding: 20px 0;
  position: relative;
  width: 65%;
}

#single-product-popup .single-product-page {
  width: 65%;
  margin: auto;
}

.empty-cart-bar {
  padding: 60px 0;
  position: relative;
  font-family: 'AvenirLight LT Std 35 Light';
  text-align: center;
}

.white_bg {
  /*background: #fff none repeat scroll 0 0;*/
  margin: auto;
  padding: 20px;
  width: 85%;
}

.white_bg h5 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.tab-product-hover {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.tab-box:hover .tab-product-hover {
  display:block;
}

.hover-quantity {
  float: left;
  width: 50%;
}

.hover-quantity p {
  color: #fff;
  font-size: 20px;
  margin:0;
}

.hover-quantity .sign-in-btn {
  
  font-size: 12px;
  font-weight: 500;
  margin: auto;
  padding: 3px;
  width: 70%;
  border-radius: 6px;
}

.cart-product-hover {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 90px 30px;
  display:none;
}

.hover_add_cart:hover  .cart-product-hover {
  display: block;
}

.cart_pro_name > h3 {
  color: #fff;
  margin: 15px;
  text-transform: uppercase;
}

.cart_quantity_hover {
  margin-bottom: 30px;
}

.cart_quantity_hover > h5 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.home_image {
	text-align: right;
}

.home_image img {
  width: 60%;
}

.home_details {
  color: #333;
  
}

.home_details h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.home_details > p {
  font-size: 13px;
}

.home_details h3 a {
  color: #000;
}

.home_details h5 {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	font-weight: 600;
}

.rating_reviews {
	position: relative;
	text-align: right;
	display: none;
}

.star-rating {
  list-style: outside none none;
  padding: 0;
  position: relative;
}

.star-rating > li {
  color: #50e3c2;
  float: right;
  font-size: 20px;
  margin-left: 2%;
  text-align: right;
}

.review h3 {
  color: #333;
  
  font-size: 14px;
  margin: 10px 1px;
}

.review a {
	color: #333;
	font-size: 16px;
	display: none;
}

.checkout-page {
  margin: auto;
  width: 50%;
}

.checkout_bottom {
  position: relative;
  width: 65%;
  padding-top: 50px;
  margin: auto;
}

.hybrid {
	width: 40% !important;
}
.active > a, .active > a:hover {
  text-decoration: none;
}
.filter-category li.active a {
  color: #50e3c2;
}

.home-list-box {
  border-bottom: 1px solid #babdbe;
  margin: 30px 0 0;
}



#list_view_home {
  margin: auto;
  width: 60%;
}

.reset_pass_page {
  margin: auto;
  padding: 5% 0;
  position: relative;
  width: 40%;
}

.page_title {
  margin: 30px;
  text-align: center;
}

.page_title h3 {
  color: #000;
  font-size: 36px;
  font-weight: lighter;
}

.reset-pass_field input {
  border: 1px solid #babebd;
  border-radius: 0;
  font-weight: 700;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.checkout-product-details .single-product-image {
  max-height: 90px;
  overflow: hidden;
}

#livesearch {
  position: absolute;
  top: 245px;
  width: 100%;
}

.live-search {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #babdbe;
  height: 38px;
  margin: auto;
  padding: 6px 20px;
  vertical-align: middle;
  width: 100%;
}

.live-search > a {
  color: #777;
}

.live-search i {
  color: #bdbabe;
  margin-right: 15px;
}

#add_to_cart_modal {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}


.category-grid .single-product-image {
  max-height: 100px;
  overflow: hidden;
}

.category-grid .single-product-price {
  padding: 15px 0;
  position: relative;
}

.category-grid .product-price > li {
  width: 20%;
}

.category-grid .home-list-box {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #babdbe #babdbe #babdbe -moz-use-text-color;
  border-image: none;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  margin: -20px 0 0;
  padding-top: 0px;
}

.tab-content .checkout-product-title h3 {
  color: #000;
  
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.main-list {
  border-bottom: 1px solid #bdbabe;
  padding: 15px;
  position: relative;
}

.main-list .single-product-image > img {
  height: 100px;
  width: 100%;
  position:relative;
  top:-20px;
}

.asd {
  width: 10%;
}
/* SQUARED ONE */
.squaredOne {
  float: left;
  height: 25px;
  margin: 12px 20px;
  position: relative;
  width: 25px;
}

.squaredOne label {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #babdbe;
  cursor: pointer;
  height: 25px;
  left: 4px;
  position: absolute;
  top: 12px;
  width: 25px;
}

.squaredOne > input {
  opacity: 0;
}

.squaredOne label::after {
  background: rgba(0, 0, 0, 0) url("../img/tick-green.png") no-repeat scroll center center;
  content: "";
  height: 40px;
  left: -2px;
  opacity: 0;
  position: absolute;
  top: -13px;
  width: 40px;
}

.squaredOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.back-page i {
  color: #fff;
  font-size: 22px;
  padding: 14px 0;
}

.product-name-page h3 {
  color: #fff;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
}

.signin-form {
  margin-top: 30px;
}

.signin-form img {
  width: 100%;
}

.signup-form {
  padding-top: 40px;
  position: relative;
}

.signup-form img {
  width: 100%;
}

.form-control::-moz-placeholder {
  color: #4a4a4a;
  opacity: 1;
}
.address_input{
	float:left !important;
}
.body_search::-moz-placeholder {
  color: #4a4a4a;
  opacity: 1;
}

/*
.create-acc-field {
  padding-right: 5px;
}
*/
.create-acc-field-2 {
  padding-left: 5px;
}

.empty-cart-page {
  padding-bottom: 9.5%;
}

.single-product-page .add_to_cart .sign-in-btn {
  padding: 12px;
}

.map_back {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0) url("../img/map.png") no-repeat fixed center center / cover !important ;
}

.delivery_screen {
  position: relative;
  padding: 50px;
}

.delievry_screen_buttons {
  position: relative;
}

ul.delvry_btns {
  padding: 0;
  width: 50%;
  margin: 30px auto;
  background: #222;
  border: 0;
  border-radius: 15px;
  padding: 1px 0;
}

ul.delvry_btns li {
  /* background: #111; */
  padding: 20px;
  /* margin: 5px 10px; */
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #2b2b2b;
  color: #fff;
}

ul.delvry_btns li:last-child {
  border-bottom: 0px solid #babdbe;
}
ul.delvry_btns li a {
	color: #fff;
	font-size: 14px;
	font-family: 'avenir';
	font-weight: 500;
	text-transform: capitalize;
}

.green {
  font-size: 12px;
  color: #50e3c2;
}

.purple {
  font-size: 12px;
  color: #9012fe;
}

.white {
  color: #fff;
  font-size: 16px;
}

.location-mark {
  position: relative;
  text-align: center;
  top: 200px;
  /* padding: 100px 0; */
}

.set-location-detail {
  position: relative;
  text-align: center;
  width: 50%;
  margin: auto;
}

.loaction-mark-detail {
  position: absolute;
  padding: 15px 7px;
  color: #fff;
  background: #111;
  width: 100%;
  border: 0;
  border-radius: 50px;
  list-style: none;
  margin: auto;
  top: 90px;
}

.loaction-mark-detail li {
	float: left;
	position: relative;
	/* height: 30px; */
	margin: 0 2%;
}

.loaction-mark-detail li.del_time {
	width: 6%;
}

.time_circle {
  position: relative;
  background: transparent;
  border: 2px solid;
  /* padding: 20px; */
  border-radius: 100%;
  width: 40px;
  height: 40px;
  /* vertical-align: middle text-top; */
}

.time_circle p {
  font-size: 10px;
  font-family: 'avenir';
  text-transform: uppercase;
  text-align: center;
  padding: 3px;
}

.del_loc_title {
	text-align: center;
	width: 76%;
}

.arrow_circle {
  position: relative;
  background: transparent;
  border: 2px solid;
  padding: 23% 3%;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.del_loc_title h3 {
  margin: 7px;
  font-family: 'avenir';
}

ul.delvry_btns input {
  width: 80%;
  background: transparent;
  border: 0;
  color: #fff;
  text-align: center;
  /*font-family: ;*/
}

ul.address-options {
  margin: 20px auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

ul.address-options li {
  text-align: left;
}

ul.address-options li span {
  margin-right: 20px;
}

.view_menu-btn {
  width: 50%;
  margin: auto;
}

.green_bg_logo {
  position: relative;
  background: #50e3c2;
  text-align: center;
  padding: 30px 0;
}

.discount-modal .modal-header, .discount-modal .modal-content {
  padding: 0 !important;
}

.discount-modal .modal-body {
  padding: 20px !important;
}

.popup-discount-title {
  position: relative;
  text-align: center;
}

.popup-discount-title h3 {
  margin: 0;
  margin-bottom: 20px;
}

.popup-discount-btn {
  position: relative;
  width: 65%;
  margin: auto;
}

.popup-buttons-check input.pro-qty {
	border: 0;
	width: 20%;
	text-align: center;
}

.popup-discount-btn .sign-in-btn input {
	height: 48px;
	color: #fff;
	background: transparent;
	border: 0;
}

.popup-discount-description {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.popup-discount-description p {
  font-size: 20px;
  text-align: center;
  font-family: 'AvenirLight LT Std 35 Light';
}

.view_menu-btn .sign-in-btn {
	padding: 12px;
	/* height: 48px; */
	border-radius: 10px;
}


/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */


/* =Elements style
---------------------- */

.load-wrapp {
	text-align: center;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
}

.ring-2 {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border: 4px solid #9012fe;
	border-radius: 100%;
}

.ball-holder {
	width: 65px;
	height: 60px;
	left: 23px;
	top: 32px;
}

.ball {
  top: -11px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #9012fe;
}


/* =Animate the stuff
------------------------ */

.load-5 .ball-holder {
  animation: loadingE 1.5s linear infinite;
}

@keyframes loadingE {
  0 {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu-btn {
	position: absolute;
	top: -38px;
	color: #fff;
}

.price_add p {
  color: #fff !important;
  text-decoration: none;
}

/*=======================final menu appearance========================*/

#wrapper.toggled {
    padding-left: 24%;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 25%;
    width: 0;
    margin-left: -25%;
    overflow-x: hidden;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 25%;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	position: fixed;
	top: 15px;
	z-index: -0;
	display: block;
	width: 26px;
	height: 28px;
	background: transparent;
	border: none;
}

#wrapper.toggled .hamburger {
	position: relative;
	top: 50px;
	left: 55%;
	z-index: 99999;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .5s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .5s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .5s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #50e3c2;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .5s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .5s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .5s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .5s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 4;
}
#wait {
  z-index: 9;
}
.delivery1 > textarea {
  height: 90px !important;
}

.no-pade{padding:0px;}

#image_preview {
  height: 50px;
  width: 100%;
  /* overflow: hidden; */
  padding-left: 2px;
}
#previewing {
  width: 59px;
  height: 48px;
  border-radius: 15px;
}
.cd-signin {
  background-color: #50e3c2;
  border-color: #50e3c2;
}
.cd-signup{
  background-color: #9012fe;
  border-color: #9012fe;
}

.input-group {
  width: 100%;
}
.input-group-addon {
  padding: 2px !important;
  /*border: 1px solid #ccc;*/
}
.checkout-page .sign-in-btn {
  padding: 15px;
}
.sign-in-btn img {
  position: absolute;
  top: 10px;
}
input, textarea { 
  -webkit-user-select: text; 
  -khtml-user-select: text; 
  -moz-user-select: text; 
  -ms-user-select: text; 
  user-select: text; 
}

.login-checkbox {
  position: relative;
  width: 9%;
  float: left;
  padding: 20px 15px;
  text-align: right;
}

 .field-height {
  height: 50px;
}


/*****************************************media queries*******************************************/
@media (min-width: 320px) and (max-width: 480px) {
#searchbox {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
}
.cd-product-previews > li img {
  height: auto !important;
}
.cd-product-previews > li img {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  height: auto;
}
/*.account-buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
}*/
.lets-zypp-btn .after_login {
  font-size: 17px;
  margin: 0px;
  padding: 12px 35px;
  width: 100%;
}
.account-btn {
  margin: 0;
  padding: 0;
  border: 0px;
}
.cd-intro-content h1 {
  display: none;
}

.account-btn {
  width: 50%;
  text-align: center;
  color: #fff;
  padding: 13px 20px;
  border-radius: 0;
  float: left;
  background-color: #fff;
}
.account-btn:hover, .account-btn:focus, .account-btn:active {
  border: 0px;
}
/*.cd-signup:hover {
  background: #fff;
  color: #666;
}*/
.cd-signup {
  background: #9012fe;
}
.home-search-page {
  padding: 0 30px;
}

.brws-hide {
  padding: 10px 0px;
}
.browse {
  margin-right: 0px;
}
.home_big_logo {
  padding-top: 30px;
}
.create-account-section {
  padding: 25px 5px 15px;
}

.signin-form, .signup-form {
  width: 100%;
}

.front_terms .squaredOne {
  margin: 10px 0px !important;
}

#searchbox {
  width: 100%;
}

.map-location-icon {
  float: left;
  position: relative;
  width: 18%;
}

.map-location-icon i {
  background: #fff none repeat scroll 0 0;
  color: #50e3c2;
  font-size: 26px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.tab-content {
  border-left: 0px solid #bdbabe;
}

.search-icon {
  float: right;
  position: relative;
  width: 12%;
}

.search-icon i {
  background: #fff none repeat scroll 0 0;
  color: #50e3c2;
  float: right;
  font-size: 22px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.home_big_logo img {
  width: 80%;
}

.account-btn, .account-btn:hover {
  font-size: 15px;
}

.search-box {
  margin-top: 160px;
  padding: 0;
  width: 100%;
}

.search-text {
  width: 100%;
}

.search-text h1 {
  font-size: 36px;
  line-height: 42px;
}

.search-text h3 {
  font-size: 11px;
  line-height: 19px;
}

.hm_search_field input {
  border: 0 solid #bdbabe;
  float: left;
  font-size: 14px;
  height: 45px;
  margin-bottom: 7px;
  padding: 0;
  position: relative;
  width: 70%;
}

.hm_search_field .sign-in-btn {
  font-size: 13px;
  text-transform: capitalize;
}

.web-home-view {
  padding-bottom: 0%;
}

.list-box {
  padding: 20px 0;
}

.list-content {
  padding: 0;
}

.checkout-quantity input.input-text {
  border-radius: 0;
  width: 35%;
}

.checkout-quantity button.items-count {
  padding: 8px 7px 10px 7px;
}

.checkout_bottom .sign-in-btn {
  padding: 12px;
  margin: 0 -15px;
}

.popup-discount-title h3 {
  font-size: 20px;
  font-weight: 600;
}
.checkout-page {
  width: 100%;
}
.checkout_bottom {
  width: 100%;
  padding-top:30px !important;
}

.popup-discount-description p {
  font-size: 16px;
  text-align: center;
  font-family: 'AvenirLight LT Std 35 Light';
  font-weight: 600;
}

#discount_modal .modal .modal-dialog .modal-content {
  width: 90%;
}

.order_total > h3 {
  margin: 20px 0 0;
  text-align: center;
}

.sub_price {
  margin-bottom: 0;
  margin-right: 20px;
}

.sub_price select {
  border-radius: 0;
  width: 175px;
  background: #fff;
}

.rating_reviews {
  margin: 0 -5px 0 -20px;
}

.star-rating > li {
  font-size: 16px;
}

#list_view_home {
  margin: auto;
  width: 100% !important;
}

form#searchbox {
  margin: 15px auto 0;
  padding: 10px;
  width: 100%;
}

.front_terms .terms_agreement {
  margin: 10px 0 0 0;
  width: 85%;
}

.front_terms .terms_agreement p {
  font-size: 10px;
}

.filter-category li {
  width: 25%;
}

.reset_pass_page {
  margin: auto;
  padding: 5% 0;
  position: relative;
  width: 90%;
}

.page_title h3 {
  color: #000;
  font-size: 24px;
  font-weight: lighter;
}

.home_details {
  margin: -15px;
  padding: 20px 0;
}

.home_image img {
  width: 100%;
}

.home_details > p {
  font-size: 7px;
}

.home_details h3 {
  font-size: 20px;
}

.home_details h5 {
  font-size: 12px;
}

.star-rating > li {
  font-size: 14px;
}

.review h3 {
  font-size: 12px;
  margin: 4px 1px;
}

.review a {
  font-size: 13px;
}

.terms_agreement {
  /*margin: 30px 0 0;*/
}

ul.features {
  margin: 0 auto 20px;
  width: 100%;
}

.features > li {
  margin: 0 2%;
}

.checkout-product-title h5 {
  font-size: 15px;
}

.tab-content .checkout-product-title h3 {
  font-size: 17px;
}
.squaredOne {
  margin: 23px 10px 30px 0;
}
.checkout_bottom .terms_agreement {
  text-align: left;
  width: 77%;
}

.sign-in-btn a span {
  color: #fff;
  margin: 0 0px;
}

#wrapper.toggled .hamburger {
  left: 347%;
}

#wrapper.toggled #sidebar-wrapper {
  width: 85%;
}

#sidebar-wrapper {
  left: 85%;
  margin-left: -85%;
}

.popup-buttons-check .input-text {
  width: 65%;
}
}

@media (min-width: 481px) and (max-width: 767px) {
  .modal .modal-dialog .modal-content {
  width: 70%;
}
.cd-product-previews > li img {
  height: auto;
}
.account-buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
}
.lets-zypp-btn .after_login {
  font-size: 17px;
  margin: 0px;
  padding: 12px 35px;
  width: 100%;
}
.account-btn {
  margin: 0;
  padding: 0;
  border: 0px;
}
.cd-intro-content h1 {
  display: none;
}

.account-btn {
  width: 50%;
  text-align: center;
  color: #666;
  padding: 13px 20px;
  border-radius: 0;
  float: left;
  background-color: #fff;
}
.account-btn:hover, .account-btn:focus, .account-btn:active {
  border: 0px;
}

.cd-signup {
  background: #9012fe;
  color: #fff;
}
.cd-signup:hover {
  background-color: #fff;
}

.cd-intro-content h1 {
  display: none;
}
  .popup-header-image {
  margin-top: -26%;
}

.signin-form, .signup-form {
  width: 80%;
}

.signup-form {
  margin: auto;
  width: 70%;
}

.list-content {
  padding: 25px 0 50px;
}

.filter-category li {
  padding: 12px;
  width: 25%;
}

.checkout-page {
  width: 90%;
}

.checkout-product-price {
  padding: 0 30px;
}

.checkout_bottom {
  width: 100%;
}

.sub_price {
  margin-bottom: 0;
}

.sub_price select {
  width: 240px;
  background: #fff;
}

.checkout-quantity input.input-text {
  width: 47%;
}

.order_total > h3 {
  margin: 20px 0 0;
  text-align: center;
}

.home_big_logo img {
  width: 50%;
}

.search-text h1 {
  font-size: 50px;
  font-weight: 600;
}

.search-box {
  width: 100%;
}

.desktop-home-search {
  padding-top: 100px;
}

.hm_search_field input {
  width: 82%;
  margin-bottom: 10px;
}

.hm_search_field input:focus {
  border: 0 solid transparent;
}

#list_view_home {
  margin: auto;
  width: 85%;
}

.rating_reviews {
  margin: 0 -15px;
}

form#searchbox {
  background: transparent none repeat scroll 0 0;
  margin-bottom: 0;
  margin-top: 15px;
  padding: 0;
}

.reset_pass_page {
  margin: auto;
  padding: 5% 0;
  position: relative;
  width: 90%;
}

.page_title h3 {
  color: #000;
  font-size: 24px;
  font-weight: lighter;
}

#sidebar {
  width: 65%;
}


.map-location-icon {
  float: left;
  position: relative;
  width: 18%;
}

.map-location-icon i {
  background: #fff none repeat scroll 0 0;
  color: #50e3c2;
  font-size: 26px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.search-icon {
  float: right;
  position: relative;
  width: 12%;
}

.search-icon i {
  background: #fff none repeat scroll 0 0;
  color: #50e3c2;
  float: right;
  font-size: 22px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.hm_search_field input {
  border: 0 solid #bdbabe;
  float: left;
  font-size: 14px;
  height: 45px;
  margin-bottom: 7px;
  padding: 0;
  position: relative;
  width: 70%;
}

#livesearch {
  top: 94%;
}

#toggle.on {
  left: 64%;
  top: 30px;
}

#wrapper.toggled .hamburger {
  left: 220%;
}

#wrapper.toggled #sidebar-wrapper {
  width: 65%;
}

#sidebar-wrapper {
  left: 65%;
  margin-left: -65%;
}

.popup-buttons-check .input-text {
  width: 55%;
}
}

@media (min-width: 320px) and (max-width: 767px) {
  .login-checkbox {
  margin: 30px 0;
}
.checkout-image-popup > img {
  width: 30%;
}
.buttons-inline a {
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
}
.checkout-option-popup {
  font-size: 19px;
  line-height: 20px;
}
.delivery_screen {
  padding: 50px 0;
}

ul.delvry_btns {
  width: 100%;
}

.view_menu-btn {
  width: 100%;
}

.set-location-detail {
  width: 100%;
}

.loaction-mark-detail li {
  margin: 0 1%;
}

.loaction-mark-detail li.del_time {
  width: 12%;
}

.del_loc_title {
  width: 70%;
}

.del_loc_title h3 {
  margin: 0px;
  font-size: 12px;
  line-height: 40px;
  text-transform: capitalize;
}

.map_back {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0) url("../img/mapmobile.png") no-repeat fixed center center / cover !important ;
}

.popup-buttons-check {
  width: 72% !important;
}
}


@media (min-width: 375px) and (max-width: 375px) {
  .checkout_bottom .sign-in-btn {
    margin: 0 -19px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
.login-checkbox {
  margin: 16px 0;
}
.big_logo {
  padding-top: 97px;
  text-align: center;
}
.cd-intro-content h3 {
  display: none;
}

.search-box {
  padding: 50px 0;
}

.hm_search_field input {
  width: 91%;
}

#sidebar {
  width: 45%;
}

#list_view_home {
  margin: auto;
  width: 85%;
} 

.map-location-icon i, .search-icon i {
  color: #fff;
  font-size: 26px;
  height: 50px;
  padding: 10px 15px;
} 

#livesearch {
  top: 84%;
  width: 91%;
}

.search-icon {
  margin-bottom: 10px;
}

.signup-form {
  margin: auto;
  width: 70%;
}

.signin-form {
  margin: auto;
  width: 70%;
}

.checkout-page {
  width: 70%;
}

.checkout_bottom {
  width: 100%;
}

.prov_array_area {
  width: 100%;
}

#wrapper.toggled .hamburger {
  left: 130%;
}

#wrapper.toggled #sidebar-wrapper {
  width: 45%;
}

#sidebar-wrapper {
  left: 45%;
  margin-left: -45%;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .search-box {
    width: 100%;
  }
  .cd-intro-content h3 {
  display: none;
}
  
.signup-form {
  margin: auto;
  width: 70%;
}

.signin-form {
  margin: 30px auto 0;
  width: 70%;
}

.desktop-footer {
  padding: 0;
}

#sidebar {
  width: 40%;
}

#livesearch {
  top: 74%;
  width: 93.3%;
}

.squaredOne {
  margin: 0px 20px;
}

.prov_array_area {
  width: 100%;
}

.checkout_bottom {
  width: 100%;
}
.popup-buttons-check .input-text {
  width: 45%;
}
}

@media (min-width: 1200px) and (max-width: 1920px) {
.search-box {
  padding: 0 0;
}
.cd-intro-content h3 {
  display: none;
}

.filter-category {
  margin: auto;
  width: 60%;
}

.filter-category li {
  font-size: 20px;
  padding: 16px 0 12px;
}

#sidebar {
  left: -25%;
  width: 25%;
}

.checkout-quantity {
  float: left;
  padding: 30px 0;
  position: relative;
  width: 60%;
  z-index: 1;
}

.checkout-quantity input.input-text {
  width: 40%;
}

.checkout-product-price h4 {
  color: #000;
  
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0;
  text-align: right;
}
}

/******************************************end media queries**********************************************/





