@media screen and (min-width:1025px) and (max-width:1400px) {
    .menu_list ul li a {font-size: 34px;line-height: 35px;} 
    }
    @media screen and (min-width:1600px) and (max-width:2000px) {
    .hero_section  .candidate_video video {border-radius: 116px 0 0 5px;}
        
    }
    @media screen and (min-width:1400px) and (max-width:1440px) {
    /*Splash page css start here*/
    .phone_img img,.hero_video {max-width: 300px !important;} 
    .phone_img{max-width: 390px !important;}
    .hero_video video { width: 350px;position: relative;left: -20px;float: left; height: auto;border-radius: 40px;}
    /*Splash page css end here*/
     .mobile_frame { width: 135px; height: 53px; top: -42px;}   
    /*employer dash HTML start here*/    
    .employer_dash .coman_inner{max-width: 835px;}  
    .candidate_video video{width: 318px;height: 568px;}
    .candidate_video{max-width: 320px;}
    /*.candidate_dec{max-width: 510px;min-height: 568px;}*/
    /*employer dash HTML end here*/ 
    .video_control img{max-width:70px !important;}
    .mobile_mask{max-width: 290px !important;position: relative;}
    .phone_img .mobile_mask img{max-width:inherit;}
    .phone_img .candidate_video video{width: 100%;height: 100%;border-radius: 40px 70px 70px 40px;}
    .phone_img .candidate_video { max-width: 337px !important;}
    .phone_img .candidate_video .progres_outer { max-width: 265px;left: 15px;}
    .mobile_mask::after {position: absolute;right: -55px;background: #fff;height: 100%;width: 45px;content: "";top: 0;}
    .mobile_mask .unmute_icon {position: absolute;bottom: 30px !important;right:20px !important;max-width: 25px !important;}   
    .hero_video_outer {max-width: 340px !important;}   
     .click_action.employer_mute .unmute_icon {bottom: 18px !important;right: 20px !important;}   
    }
    
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
    .phone_img img {max-width: 240px;}
    .hero_section .hero_dec{max-width: 345px;}
    .phone_img{max-width: 310px;} 
    .hero_video video { width: 270px;height: auto;left: -11px;}    
    .video_control img{max-width:60px !important;}    
    .mobile_frame { width: 120px; height: 53px; top: -42px;}   
    .hero_video_outer{max-width: 230px;border-radius: 30px;}   
    .mobile_mask{max-width:242px;} 
    .unmute_icon {position: absolute;bottom: 30px;right: 30px; max-width: 25px !important;}
    .click_action.employer_mute .unmute_icon {bottom: 18px !important;right: 20px !important;}
    }
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
    .phone_img img {max-width: 265px;}
    .hero_video_outer { max-width: 280px;}
    .hero_video video {width: 297px;}
    .phone_img {max-width: 320px;}
    .hero_video_outer {max-width: 264px;}   
    .unmute_icon {bottom: 29px;right: 8px;}    
     .click_action.employer_mute .unmute_icon {bottom: 18px !important;right: 20px !important;}   
    } 
    
    
    @media screen and (min-width:1281px) and (max-width:1399px) {
    .phone_img img {max-width: 260px;}
    .hero_section .hero_dec{max-width: 345px;}
    .phone_img{max-width: 335px;} 
    .hero_video video { width: 293px;height: auto;left: -11px;}    
    .video_control img{max-width:60px !important;}    
    .mobile_frame { width: 120px; height: 53px; top: -42px;}   
    .hero_video_outer{max-width: 255px;}   
    .mobile_mask{max-width: 300px;} 
    .unmute_icon {position: absolute;bottom: 30px;right: 65px; max-width: 25px !important;}  
    .click_action.employer_mute .unmute_icon {bottom: 18px !important;right: 20px !important;}    
        
    }
    
    
    
    
    @media screen and (min-width:992px) and (max-width:1024px) {
    html,body {-webkit-overflow-scrolling: touch !important;}
    .page_heading h1 a{font-size: 32px;}
    .header_inner,.chat_bot_inner{padding: 0 3vh;}    
        
    /*employer dash HTML start here*/    
    .employer_dash .coman_inner{max-width: 965px;}  
    .candidate_video video{width: 318px;height: 568px;}
    .candidate_video{max-width: 260px;}
    .candidate_dec{max-width: 510px;min-height: 568px;}
    /*employer dash HTML end here*/ 
    .mobile_frame{width: 150px;height: 47px;}
    .mobile_mask::after {position: absolute;right:-34px;background: #fff;height: 100%;width: 35px;content: "";}
    .mobile_mask{position: relative;max-width: 265px;}
    .hero_video video {border-radius: 40px 40px 40px 100px;width: 298px;top: -17px;}
    .share_gist{position: relative;top: auto;-ms-transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
    .auto_apply .auto_apply_inner{text-align: left;}
    .action_list ul li .action_btn.downloadresume .hover_name,.candidate_inner span.hide_icon:hover .hover_name{display: none;}
    .help_faq_inner{max-width: 950px;}
    .show_filter{padding: 7px 20px;font-size: 16px;}
    .unmute_icon {bottom: 27px;right: 32px;max-width: 25px !important;} 
    .phone_img{max-width: 370px;}
    .candidate_video .progres_outer {left: 5px;bottom: 39px;right: 5px;}
    .click_action.employer_mute .unmute_icon {bottom: 18px !important;right: 20px !important;}
    }
    
    
    
    @media screen and (min-width:768px) and (max-width:991px) {
    .page_heading h1 a{font-size: 30px;}
    html,body {-webkit-overflow-scrolling: touch !important;}
    .header_inner,.chat_bot_inner{padding: 0 15px;}
    .logo { width: 58%;}
    .sign_up .back_icon a img { max-width: 15px;}
    .ques_list{padding: 20px;}
    .question_tab{padding: 45px;min-height: 370px;position: relative;}
    .question_check {position: absolute;left: 45px; right: 45px;bottom: 45px;width: auto;}
    .page_heading h1 a{font-size: 30px;}   
    .menu_links li .btns {padding: 2px 18px 0;font-size: 18px; line-height: 36px;} 
    .menu_list ul li a {font-size: 36px;line-height: 40px;padding: 15px 0;}  
    .menu_links { width: 42%;}
    .video_control img{max-width:50px !important;}   
    .logo h1 a, .page_heading h1 a{font-size: 32px;}   
    /*Join step css start here*/
    .video_come_here video {float: left;height: 545px;width: 330px;} 
    .edit_question{padding-left: 30px;}    
    .progres_outer .value{font-size: 15px;} 
    .progres_outer{padding: 15px;}    
    .upload_side{max-width: 332px;min-height: 600px;}   
    .edit_ques {width: 100%;display: inline-block;vertical-align: middle;max-width: 400px;}
    .choose_ques_inner{padding: 50px 15px;}   
    .login_inner{padding: 75px 15px;}
    .register_form_inner{padding: 40px 60px;}   
    .submit_btn.btn{padding: 12px 10px;max-width: 150px;font-size: 18px;}
    .blue_btns{font-size: 16px;}
    .left_filds{max-width: 260px;}
    .right_filds{max-width: 355px}
    .left_filds.college {max-width: 456px;}
    .almost_outer{max-width: 615px;}
    .skill_outer .search_box .fild_inner {max-width: 220px;}
     /*Join step css end here*/   
    .help_faq_inner{max-width: 720px;}
    /*Splash page css start here*/
    .candidate_video .progres_outer{max-width: 270px;}
    .phone_img .mobile_mask img {max-width: 280px;}
    .phone_img img {max-width: 275px;}
    .unmute_icon {position: absolute;bottom: 37px;right: 72px; max-width: 25px !important;}
    .phone_img{max-width: 315px;} 
    .hero_dec h2{font-size: 34px;}
    .we_believe_dec h6{text-align: center; margin-bottom:30px;}
    .we_believe_dec p{text-align: center;font-size: 20px;line-height: 30px;}
    .we_believe_dec p br{display: none;}
    .hero_dec h3 {margin: 0 0 25px;font-size: 22px;line-height: 34px;}
    .hero_section .hero_dec{max-width: 365px;padding-left: 40px;}  
    .step_point.signing_step_two {margin: 0 35px;}
    .step_point.signing_step_two::after{left: -96px; top: 35px;width: 150px;}
    .step_point.signing_step_two::before{right: -96px; top: 35px;width: 150px;}
    .signing_up .step_point h3{font-size: 30px;}
    .signing_up .step_point p{font-size: 15px;}
    .user_feedback_slider .reating_dec li:last-child {margin-top: 40px;}
    .get_started{margin: 0 0 100px;}
    .faq_outer.coman_outer{padding: 0 30px 110px;}
    #integration-list h2{font-size: 18px;}
    #integration-list ul li{padding: 8px 0;}
    .detail p{line-height: 26px;}
    .get_started h2{font-size: 32px;}
    .hero_video video {width: 317px;position: relative;left: -10px;float: left;height: auto;border-radius: 40px 90px 70px 40px;}
    .hero_video{max-width: 315px;}
    .mobile_frame{width: 150px;height: 47px;}
    .mobile_mask::after {position: absolute;right:1px;background: #fff;height: 100%;width: 35px;content: "";top: 0;}
    .mobile_mask{position: relative;}
    .show_filter{padding: 6px 12px;font-size: 15px;}
    .filter_drop_down{padding: 0 2px;}
    #status_block,#education_block {right: 0;}
    /*Splash page css end here*/   
    .copied_clipboard.candidate_copy{top: -45px;}    
        
    /*edit profile css start here*/
    .account_outer{padding: 50px 30px;}
    .edit_side li a{padding: 10px 30px;}
    .edit_side{max-width: 180px;}
    .page_edit_here { padding: 40px 20px 20px 40px; max-width: 525px;}
    .billing_summary .date_format{max-width: 300px;}
    /*edit profile css start here*/ 
        
    /*employer dash HTML start here*/    
    .employer_dash .coman_inner {max-width: inherit; padding: 0 15px;}       
    .action_list {left: 30px;right: 30px;}   
    .candidate_dec{min-height: inherit;max-width: inherit;padding-bottom: 10px;} 
    .account_setting {padding: 0px 0 0px 15px;font-size: 17px;}
    .account_setting a.filter_btn { padding: 7px 16px;font-size: 17px;}   
    .candidate_dec p {font-size: 16px;line-height: 26px;}    
    .candidate_dec h4 {margin: 5px 0 30px;font-size: 16px;}
    .banner_dec p{font-size: 20px;line-height: 24px;}
    .banner_dec h2 { margin: 0 0 35px;font-size: 44px;line-height: 48px;}
    .employer_dash .candidate_dec { max-width: 410px;padding:25px 30px;min-height: 568px;}
    .employer_dash .candidate_video.candidate_dashboard_video {max-width: 320px;height: 568px;}
    .employer_dash .candidate_video video {width: 318px;height: 568px;transform:inherit;display: inherit;}
    .action_btn { padding: 9px 17px;}   
    .share_gist h2{font-size: 22px;margin-bottom: 10px;} 
    .auto_apply{padding: 0 20px;}
    .share_gist p{font-size: 16px;}
    .share_gist{width: 275px;}    
    .coman_outer.engagement_outer{padding: 0 20px;}
    .top_industry .info_name{max-width: 250px;font-size: 18px;}
    .top_industry .progres_outer{max-width: 350px;}
    .engagement_box h2{padding: 12px 20px;font-size: 22px;} 
    .top_industry h3{font-size: 20px;}
    .engagement_num ul li h4{font-size: 18px;}
    .engagement_num ul li h3{font-size: 36px;}
    .engagement_num ul li h3 span{font-size: 18px;}
    .paste_url{max-width: 430px;}
    .paste_url .form-control{width: 85%; padding-right: 0;height: 54px;line-height: 54px;}
    .paste_url span{width: 60px;height: 54px;line-height: 54px;}
    .sm_icon li a img {max-width: 45px;}
    .sm_icon{width: 182px;}
    .sm_icon li{padding-right: 10px;}
    .on_off_switch .switch { width: 60px;height: 35px;margin: 10px 0;}    
    .on_off_switch .slider::before {height: 18px;width: 18px;}   
    .on_off_switch input:checked + .slider::before {left: 35px;}    
    .share_gist{position: relative;top: auto;-ms-transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
    .auto_apply .auto_apply_inner{text-align: left;}  
    .employ_dashboard_outer .candidate_video{max-width: 320px;}
    .action_list ul li .action_btn.downloadresume .hover_name,.candidate_inner span.hide_icon:hover .hover_name{display: none;}
    .browsing_candidate{padding: 0 15px;}
    .caught_outer p.caught_img img{max-width: 120px;}
    .caught_outer h3{font-size: 24px;}
    .caught_outer p{font-size: 16px;}    
    .click_action.employer_mute .unmute_icon {bottom: 18px !important;right: 20px !important;}    
        
        
    }
    
    
    
    
    
    
    @media screen and (min-width:240px) and (max-width:767px) {
    .copied_clipboard.employer_clipboard.copies_link {bottom: 0;max-width: 550px;}	
    .fild_outer label.error{top: 44px;font-size: 13px;}
    br{display: none;}
    .logo h1 a{font-size: 36px;}
    h2.coman_heading{font-size: 28px;}
    .header_inner,.chat_bot_inner{padding: 0 15px;}
    #menu-line-top, #menu-line-bottom{width: 35px;}
    #menu-line-top::before, #menu-line-bottom::before {height: 2px;}
    #menu-line-bottom::before {width: 22px;}
    .menu_list ul li a {font-size: 24px;line-height: 28px;padding: 15px 0;}
    .menu_links li .btns {padding: 10px 12px 8px;font-size: 15px;line-height: 15px;}
    .menu_links li:first-child { padding: 0;}    
    .menu_links li { padding-left: 10px;}
    .page_heading h1 a{font-size: 24px;}
    #menu-lines-container{width: 40px;}   
    #menu-line-top::before{width: 40px;} 
    #menu-line-bottom::before{width:25px;left: 0;}     
    .menu_visible #menu-line-bottom::before {    -ms-transform: translate(-6px, -3px);-webkit-transform: translate(-6px, -3px);-moz-transform: translate(-6px, -3px);-o-transform: translate(-6px, -3px);transform: translate(-6px, -3px);}   
    .open_menu #menu-line-bottom::before {width: 40px;}    
    .menu_visible #menu-line-top::before { -ms-transform: translate(1px, 9px);-webkit-transform: translate(1px, 9px);-moz-transform: translate(1px, 9px);-o-transform: translate(1px, 9px);transform: translate(1px, 9px);}
    .sign_up .back_icon a img {max-width: 13px;padding-top: 2px;}
    .sign_up .logo {width: 15%;}    
    .sign_up .page_heading { width: 55%;text-align: left;}   
    .sign_up .menu_links {width: 45%;}
    .sign_up .page_heading h1 {display: inline-block;vertical-align: middle;padding-left: 10px;} 
    .sign_up .logo { display: none;}    
    .page_heading .back_icon { display: inline-block;}     
    .header_outer{padding: 10px 0;}  
    .hero_section{padding: 0;}
    .account_outer{padding: 20px 15px;}   
    .hero_dec .btn.submit_btn {max-width: inherit;width: auto;padding: 10px 50px;}   
    .sign_up_steps{margin-top: -15px;}  
    /*Signup step css start here*/ 
    .fild_outer label.error#candidateurl-error { top: auto; bottom: -17px;}
    #candidatesignup_form .click_complete {margin-top: 20px;}
    .upload_video p {padding: 0 20px;}
    .edit_question .change_ques_inner .change_ques p a {margin-left: 5px;}
    .steps_inner{max-width: 320px;}
    .step_num::after {height: 2px;width: 54px;right: 45px;}
    .step_num {width: 40px;height: 40px;line-height: 42px;}    
    .step_type{font-size: 16px;}
    .step_num .tick {max-width: 60%;}
    .choose_ques_inner h2.coman_heading {margin-bottom: 17px;} 
    .ques_list { width: 100%; padding:20px 30px;max-width: 400px;float: none;display: inline-block;}   
    .question_tab{min-height: inherit;padding: 50px;}  
    .sign_up_body .question_tab { min-height: inherit;}
    .question_check {position: relative;left: auto;right: auto;bottom: auto;width: 100%;float: left;margin-top: 40px;} 
    .edit_question{padding: 0; margin-top: 50px;}   
    .question_check a{height: 50px;line-height: 50px;}
    .question_check a img {max-width: 27px;}
    .question_tab p{font-size: 16px;min-height: inherit;}
    .upload_inner {padding: 0 15px;}
    .video_come_here video{width: 320px;height: 568px;}
    .progres_outer .value{font-size: 14px;}
    .progres_outer{padding:15px;}    
    .upload_side{max-width: 320px;min-height:568px;}  
    .conti_btn{padding: 10px 30px;}
    .register_form_inner{padding: 40px 60px;}   
    .submit_btn.btn,.submit_btn.btn.change_video{padding:12px 14px;font-size: 16px;max-width: 150px;}
    .left_filds.college ,.almost_outer,.skill_outer .search_box .fild_inner,.left_filds,.right_filds,.right_filds.grand_year,.skill_outer .left_side{max-width: inherit;width: 100%;padding: 0;margin: 0;}
    .step_three_outer {padding: 0 15px;}  
    .register_form_inner { padding: 30px;}   
    .right_filds,.right_filds.grand_year{margin-top: 30px;}   
    .work_exc_form.work_exper_outer .left_filds, .work_exc_form.work_exper_outer .right_filds{width: 100%;}
    .left_side,.right_side{width: 100%;padding: 0;margin:5px 0;} 
    .specialties_check_list.search_box .left_side,.specialties_check_list.search_box .right_side{margin: 10px 0;}
        
        
        
    .filter_popup .modal-header{padding: 10px 15px;}   
    .filter_popup .close_btn.btn img { max-width: 25px;}
    .filter_popup h2.modal-title {font-size: 22px;margin-left: 0;}
    .filter_popup .close_btn.btn.show_candidates img {max-width: 20px;margin: 0 15px;}
    .talent_filters{padding-left: 10px;}   
    .specialties_check_list{margin: 0;}
    .skill_outer .select_experience{width: 100%;max-width: inherit;margin:15px 0 0;position: relative;}
    .skill_outer .experience_type{padding: 0;}
    .skill_outer .search_box .fild_inner.inner_input{padding-left: 0;}
    .skill_outer .check_box_here {position: absolute;left: 0;right: 0;z-index: 9;} 
    .skill_outer  .specialties_check_list{margin-bottom: 35px;}   
    .fild_outer{margin-bottom: 40px;}   
    .fild_outer label{font-size: 16px;}
    .form-control, .fild_inner .btn{height: 42px;font-size: 15px;}
    .almost_outer p {font-size: 16px;}
    .almost_outer {padding: 0 30px;margin-bottom: 30px;}   
    .fild_inner .bootstrap-select.btn-group .dropdown-toggle .caret{right: 10px;}   
    .specialties_check_outer{margin: 20px 0 40px;}    
    .skill_outer .specialties_check_outer {margin-bottom: 20px;}   
    .click_complete{margin-top: 40px;}   
    .remove_btn{padding-right: 15px;}   
    .register_form_inner textarea { height: auto;line-height: 22px;resize: none;padding-bottom: 10px;white-space: normal;} 
    .experience_list_outer.start_end_yr .right_filds .fild_inner:first-child,.experience_list_outer.start_end_yr .left_filds .fild_inner {padding: 0 10px 0 0;}
    .experience_list_outer.start_end_yr .right_filds .fild_inner,.experience_list_outer.start_end_yr .left_filds .fild_inner:last-child {padding: 0 0 0 10px ;}
    .fild_outer label.check_boxes { width: auto; padding-left: 25px;}
    .skill_outer .specialties_check_list.search_box {margin: 0 0 20px;} 
    .experi_list_outer.clone_education.repeat_education {margin: 15px 0;}
     textarea{white-space: normal !important; }
     /*Signup step css end here*/    
        
        
        
    /*Login page css start here*/   
    .login_inner {width: 100%;display: inline-block;max-width: 450px;padding: 50px 15px;}   
    .login_outer h2 { margin: 0 0 30px;font-size: 32px;}    
    .login_outer .form-control { margin-bottom: 25px;padding: 15px;height: 48px;font-size: 14px;line-height: normal;}    
    .login_inner .submit_btn.btn {margin: 5px 0 10px;font-size: 20px;height: 48px;line-height: 48px;}  
    .filds_outer label.error{top: 48px;}
    /*Login page css end here*/ 
        
    
    .talent_dash .change_ques {margin: 20px 0;}   
    .apply_now.submit_employers{margin: 0;}  
    .apply_now.submit_employers #editretryvideo {margin: 0 0 20px;max-width: 130px;}
    .talent_dash .upload_side {max-width: 310px; min-height: 558px;}   
     
        
    
    /*Account page css start here*/
    .page_edit_here{padding: 15px 15px 30px;border: none;}
    .page_edit_inner .talent_dash p{font-size: 16px;}
    .edit_side li a {font-size: 16px;padding: 8px 15px;width: 100%;}
    .toggle_btn_outer {display: block;left: 0;position: relative;top: 15px;right: 0;}
    .toggle_btn_outer .btn{background: none;display: block;padding: 0 15px; float: right;margin-bottom: 20px;}
    .toggle_btn_outer .btn img {max-width: 30px;margin-bottom: 0;}
    .cancel_payment{text-align: left;}
    .cancel_payment a,.cancel_payment span{font-size: 18px;}
    .billing_summary .date_format,.billing_summary .charged{max-width: inherit;width: 50%;}
        
        
    /*Account page css end here*/
        
    .apply_now.save_edit .submit_btn.btn {padding: 11px 35px;width: auto;max-width: inherit;}  
    .coman_outer.employer_dash { padding-top: 20px;}  
        
    /*Popup  start end here*/
    .popup_outer .modal-body { padding: 25px 20px;}    
    .popup_outer .modal-body h4{font-size: 18px;margin: 0 0 25px;}   
    .popup_outer .modal-body h4 .icon_type{width: 55px;}
    .popup_outer .modal-body h4 .icon_type img {max-width: 32px;} 
    .popup_outer h3{font-size:18px;}
    .popup_outer .modal-header{padding: 15px;}
    .popup_outer .close{top: 17px;right: 15px;}
    .popup_outer .close img {max-width: 18px;}
    .auto_apply_popout p{font-size: 16px;margin-bottom: 10px;}
    .popup_outer .send_btn .btn { padding: 8px 25px;font-size: 16px;}
    .menu_link_popup li{padding: 10px 20px 13px;}
    .menu_link_popup li a{font-size: 17px;}
    /*Popup  css end here*/  
        
    /*employer dash HTML start here*/
    .candidate_video video {border-radius: 5px;width: 318px !important;height: 568px !important;}    
    .candidate_dec{width: 100%;min-height: inherit;padding: 30px 15px 0;}    
    .action_list {padding: 20px 0;border-top: 2px solid #e6e6e6;position: relative;bottom: auto;right: auto;left: auto;width: 100%;float: left;margin-top: 30px;}   
    .employer_dash .coman_inner {padding: 0 15px;}
    .candidate_dec h3{font-size: 20px;}
    .candidate_dec h3 img {max-width: 25px;}
    .candidate_dec h4 {margin: 5px 0 20px;color: #8e959e;font-size: 17px;line-height: 24px;} 
    .employ_dashboard_outer .candidate_dec h4 br{display: block;}
    .candidate_dec p {font-size: 17px;line-height: 26px; }  
    .contact_btn,.contact_btn:hover {font-size: 16px; padding: 0 15px; height: 42px;line-height: 43px;}   
    .action_btn {padding: 8px 9px;height: 42px;}    
    .action_list ul li{padding-right: 10px;}   
     /*employer dash HTML end here*/   
        
        
    /*talent_dash HTML Start here*/      
    .engagement_outer .engagement_inner{padding: 0 15px;}    
    .engagement_box h2 {padding: 12px 15px;font-size: 20px;} 
    .engagement_num ul li h3{font-size: 26px;}   
    .engagement_num ul li h4{font-size: 14px;}    
    .engagement_num ul li h3 span{font-size: 14px;}  
    .engagement_num{padding: 15px 0;}   
    .top_industry{padding: 20px 15px;}
    .top_industry h3 {margin: 0 0 15px;font-size: 19px;}    
    .top_industry .info_name{font-size: 16px;max-width: 170px;}    
    .top_industry .progres_outer .progress {height: 6px;width: 60%;} 
    .top_industry .progres_outer span{font-size: 16px;}
    .top_industry .progres_outer{max-width: 115px;padding-left: 10px;float: right;}
    .share_gist {max-width: inherit;text-align: left;padding: 0; margin-bottom: 15px;position: relative;left: auto;top: auto;-ms-transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
    .coman_outer.engagement_outer{padding: 0;}
    .auto_apply .auto_apply_inner{padding: 0 15px;text-align: left;}  
    .auto_apply_btn .btn ,.share_btn .btn{font-size: 16px;padding: 12px 12px;max-width: 155px;}
    /*talent_dash HTML end here*/    
     
       
    /*Collage  css start here*/    
    .banner_dec h2 {margin: 0 0 20px;font-size: 28px;line-height: 36px;}  
    .banner_dec p{font-size: 18px;line-height: 30px;}
    .banner_dec p br{display: none;}
    .collage_inner{padding: 40px 15px 0;max-width: 500px;}
    .user_register_form{padding: 60px 15px !important;}
    .cantainer_form .submit_btn.btn { font-size: 20px;padding: 12px 50px;max-width: 150px; width: 100%;}
    .employ_splash_inner .main_heading br{display: none;}
    /*Collage  css end here*/ 
    .referral_page .register_form_inner { padding: 20px 10px 10px;}           
    .paste_url .form-control{width: 84%;height: 40px;line-height: 40px;padding: 0 10px;}   
    .paste_url span {width: 16%;height: 40px;line-height: 40px;} 
    .paste_url span .copy_link_invite {width: 100%;}
    .paste_url span a{font-size: 14px;}   
    .sm_icon {width: 100%;display: inline-block;vertical-align: middle;max-width: inherit;text-align: center;margin-top: 20px;}   
    .referral_inner label.tittle_heading{text-align: center;line-height: normal;}
    .sm_icon li a img { max-width: 45px;}  
        
    /*Splash page css start here*/
    .hero_section .hero_dec { padding: 0 15px;margin: 0 0 20px;text-align: center;}
    .hero_dec h2 { margin: 0 0 10px; font-size: 32px;font-family: 'Avenir Medium';text-align: center;}
    .hero_dec h3 {margin: 0 0 25px;font-size: 18px; line-height: 26px;text-align: center;display: inline-block;width:100%;}
    .phone_img{max-width: inherit;text-align: center;display: none;}
    .phone_img.for_mobile {display: inline-block; margin: 2px 0 20px;width: 290px;}
    .phone_img img {max-width: 286px;} 
    .sign_up,.scroll_down{text-align: center;}
    .scroll_down img{max-width: 50px;}
    .we_believe{padding: 70px 15px;}
    .we_believe h2 { margin: 0 0 40px;font-size: 30px;line-height: 32px;}
    .we_believe_dec p {font-size: 18px;line-height: 30px;text-align: center;}   
    .we_believe_dec h6 {font-size: 14px;line-height: 26px;text-align: center;}    
    .we_believe_img {max-width: inherit;margin-top: 30px; padding: 0 10px;}
    .we_believe_dec p span.bottom_quote img,.we_believe_dec p span.top_quote img {top: -5px;}
    .user_feedback{padding: 0 15px;margin-bottom: 70px;}  
    .reating_outer{margin: 25px 0;}    
    .rating_icon { padding: 0 0 8px; width: 100%;}  
    .rating_icon img {max-width: 135px;}  
    .rading_bar .custom_bar{height: 10px;}    
    .rading_bar li{margin-bottom: 5px;}   
    .reating_dec li{margin: 0;min-height: inherit;padding: 20px 30px 20px;}
    .reating_dec li.on_mobile { margin-top: 30px;}
    .auther_name_outer {position: relative;bottom: auto;text-align: center;}
    .user_feedback_inner { max-width: inherit; margin-bottom: 25px;}
    .faq_outer.coman_outer {padding: 0 15px 50px;}   
    #integration-list {margin-top: 25px;}   
    #integration-list h2 {font-size: 18px;line-height: 22px;padding-right: 25px;}
    .detail p {font-size: 16px;line-height: 22px;}
    #integration-list .fa{font-size: 26px;}
    .right-arrow{margin-top: 0;}
    #integration-list ul li{padding: 10px 0;float: left;width: 100%;}
    .get_started h2 {margin: 15px 0 25px;font-size: 28px;max-width: 360px;display: inline-block;}
    .get_started p{font-size: 18px;}
    .get_started {padding: 0 15px;margin: 0 0 60px;}
    .get_started .btn.submit_btn { max-width: inherit;padding: 10px 50px;width: auto;font-size: 20px;}
    .footer_inner{padding: 30px 15px 0;}
    .footer .copy_right{margin-top: 35px;}    
    .follow_us{margin-top: 20px;}   
    .footer p{font-size: 14px;margin: 0 0 5px;}    
    .footer .copy_right p{font-size: 12px;}
    .footer .follow_us .form-control{letter-spacing: 0.3px;}   
    .step_point.signing_step_two::after,.step_point.signing_step_two::before{display: none;}
    .step_point.signing_step_two{margin: 30px 0;}  
    .signing_up .step_point h3{font-size: 36px;}
    .signing_up { padding: 70px 0 20px;}
    .signing_up h2.coman_heading {margin-bottom: 35px;}
    /*Splash page css end here*/ 
    .auto_apply{padding: 0 15px;margin-top: 20px;}
    .auto_apply .candidate_video{height:568px}   
    .logo{width: 30%;}
    .menu_links{width: 70%;}
    .reset_message {position: relative;top: auto;margin-bottom: 30px;}
    .filter_list_outer{padding:0 15px;}   
    .filter_list{padding: 20px 0;}
    .filter_list h2{font-size: 18px;margin-bottom: 10px;}
    .filter_switch p{font-size: 15px;}
    /* .candidate_video {float: none;max-width: 375px;display: inline-block;}*/
    
    .employer_dash .candidate_video.candidate_dashboard_video {max-width: 320px;}
    .employer_dash .candidate_dec { max-width: 410px;}
    .employer_dash .candidate_video.candidate_dashboard_video {max-width: 320px;height: 568px;}
    .edit_side.toggle_side { display: none;transition-property: color;transition-duration: 0.5s; transition-timing-function: ease-in;transition-delay: 0.3s;}
    .edit_side{display: block;} 
    .expiration_date { width: 100%;padding-right: 0;}
    .billing_zip { width: 100%; margin:40px 0;padding: 0;}
    .security_code {margin: 0; width: 100%;padding: 0;}
    .payment_outer .by_click {font-size: 13px;line-height: 20px;margin-top: 25px;}
    .payment_outer label{font-size: 16px;}
    .account_setting {display: none;}
    .payment_outer label.error{font-size: 13px;top: 44px;}
    .apply_now.save_edit.billing_btn {margin: 0;}
    .payment_outer.billing_page{margin-bottom: 40px;}
    /*chat css start here*/
    .chat_bot_outer{padding: 50px 0 0;}
    .chat_bot_inner{padding: 0 15px;}
    .jerry_icon {height: 40px;width: 18%; max-width: 40px;}
    .chat_bot_inner .message.text p{font-size: 16px;line-height: 24px;padding: 10px 15px;}
    .chat_bot_inner .message.text p br{display: none;}
    .test_dec.thug-life img,.GIF_img {max-width: 230px;}
    .hello_img {max-width: 210px;}   
    .homer_img,.apply_here_btn{max-width: 200px;}
    .jerry_icon span img {max-width: 13px;}
    .emoji_icon img {max-width: 27px;}
    .high-five img{max-width: 25px;}
    .apply_here_btn span {padding: 10px 0;font-size: 16px;}
    /*chat css end here*/ 
    .step_three_outer.edit .left_filds,.step_three_outer.edit .left_filds.college {max-width: inherit;}
    .step_three_outer.edit .skill_outer .select_experience { margin: 10px 0 10px !important;}   
    .share_gist p br {display: block;}   
    .share_gist h2{font-size: 24px; margin-bottom: 5px;}    
    .share_gist p{font-size: 18px;} 
    .filter_strip .btn{font-size: 16px;padding: 6px 15px;}
    .filter_strip a{font-size: 16px;}    
    .on_off_switch .switch { width: 60px;height: 35px;margin: 10px 0;}    
    .on_off_switch .slider::before {height: 18px;width: 18px;}   
    .on_off_switch input:checked + .slider::before {left: 35px;}    
    .employ_filters .account_setting {display: inline-block;font-size: 14px;margin-left: 10px;padding: 3px 0 3px 10px;}
    .employ_filters .logo {width: 90%;}    
    .employ_filters .menu_links { width: 10%;}   
    .employ_filters .account_setting #modal-821375 {font-size: 0;border: none;padding: 0;vertical-align: middle;}   
    .popup_outer .modal-body h4 span{width: 75%;word-wrap: break-word;font-size: 16px;}    
    .step_two_outer .edit_ques {padding: 0 15px;}   
    .candidate_list{max-width: 320px;}   
    .filter_popup textarea { height: 45px;line-height: 43px;font-size: 16px;}    
    .popup_outer .modal-body h4 a{width: 100%;}   
    .bolt_icon img {max-width: 13px;}
    .hero_video video {width: 290px;position: relative;left: -21px;float: left;height: auto;border-radius: 0 0 0 40px;}   
    .candidate_video .progres_outer{left: 3px;right: 3px;}
    /*.hero_video{max-width: 290px;border: 15px solid #fff;min-height:400px;}  */
    .mobile_frame {width: 140px;height: 45px;}    
    .hero_video_outer {top: 9px;border-radius: 40px 40px 20px 20px;float: none; display: inline-block;left: 50%;-ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);} 
    .how_its_works{width: 100%;display: inline-block;}
    .how_its_works a{margin: 15px 0;}    
    .scroll_down{margin-top: 0;}    
    .page_edit_here .question_tab{min-height: inherit;}    
    .blue_btns{font-size: 16px;margin:15px 0 0;}
    .first_time_sign_in p { color: #fff; position: relative; padding-right: 40px; text-align: left;}
    .close_first_login {position: absolute;right: 15px;top: 30px;-ms-transform: translateX(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}    
    .employers_link.hidden_mobile {display: none;}    
    .continue_btn.mobile_actions {padding: 0 15px;}    
    .auto_apply_popout .fild_outer{margin-bottom: 20px;}    
    .hero_video{max-width: 285px;}
    .hover_name {padding: 10px 15px;}
    .employ_dashboard_outer video{transform:none;}
    .action_list ul li .action_btn.downloadresume .hover_name,.candidate_inner span.hide_icon:hover .hover_name{display: none;}
    .copied_clipboard.candidate_copy{top: -45px;}
    .faq_heading_outer{width: 100%;}    
    .help_faq_list{width: 100%;}    
    .faq_heading_outer h2{margin-bottom: 20px;font-size: 28px;} 
    .help_faq_list h3{font-size: 22px;}
    .popup_tab li a{font-size: 16px;padding: 13px 0;}
    .show_tabs {padding: 20px 20px 30px;}
    .popup_outer.custom_popup_outer .modal-content {height: 420px;}    
    .auto_apply_popout .fild_inner .form-control{font-size: 16px;margin-top: 15px;}    
    .auto_apply_popout #employer_email-error { top: 59px;}   
    .action_list ul li a:hover .hover_name{display: none;}   
    /*updated filter css start here*/      
    .filter_block.account_setting {display: block;border: none;padding: 0;margin: 0;text-align: left;} 
    .filter_block.account_setting.desktop_view { display: none;}
    .show_filter {padding: 6px 12px;font-size: 15px;}
    .coman_outer.employer_dash.no_margin_top {padding: 0;}
    .mobile_view {display: inline-block;background: #fff; padding: 10px 0;margin-bottom: 30px;position: relative;z-index: 9;}
    .page_outer_section.employ_dashboard_outer{padding-top: 57px;}
    .filter_drop_down{padding: 5px 10px;}
    .filter_section{top: 46px;z-index: 9;width: 100%;;padding: 20px; border-radius: 0;-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.05);box-shadow: 0 3px 3px rgba(0,0,0,0.05);left: 0;right: 0;}
    .filter_section .label_name {font-size: 15px;}
    .grey_bg .ui-widget.ui-widget-content{max-height: 350px;line-height: 18px;}      
    .tabs_links_outer {width: 100%;float: left;position: relative;padding: 0 5px;}
    #education_block .coman_filter_list {max-height: 125px;}
    .browsing_candidate{max-width: 320px;}
     /*updated filter css end here*/ 
    .first_occurence .header_outer.index_header {top: 74px;}
    .caught_outer p.caught_img img{max-width: 90px;}
    .caught_outer {padding: 0 15px;}
    .caught_outer h3{font-size: 22px;}
    .caught_outer p{font-size: 15px;}
    .popup_outer .fild_outer label.error {top: 60px;}
    .chat_bot_inner ul{padding-bottom: 40px;}
    .mobile_mask {width: 100%;max-width: 290px;} 
    .unmute_icon {position: absolute;bottom: 35px;right: 37px;max-width: 25px !important;}  
    .click_action.employer_mute .unmute_icon {bottom: 18px !important;right: 20px !important;}    
    .register_step_outer_two .specialties_check_list .label_name{padding: 0;}   
    .check_list_outer{padding-bottom: 30px;margin-bottom: 40px;}  
    .register_step_outer_two .add_remove_outer{margin-top: 10px;}  
    .register_step_outer_two .register_label.type_head {margin-bottom: 10px;}
    .register_step_outer_two .page_edit_inner textarea { height: auto;line-height: normal; resize: none;padding: 8px 0;} 
    .register_step_outer_two .fild_outer label.error { top: 50px;}    
    .register_step_outer_two .left_side{padding-right: 0;}
    .register_step_outer_two .right_side{padding-left: 0;}  
    .register_step_outer_two .fild_outer label.error#candidateskills-error {top: 58px;}
    .register_step_outer_two p{line-height: 16px;}    
    .register_step_outer_two .fild_outer label.error#candidatecollege\[0\]-error { top: 63px;}    
    .register_step_outer_two .fild_outer p.define_attributes{line-height: 32px;}   
    }
    
    
    
    
    
    
    
    
    
    
    
    @media screen and (min-width:375px) and (max-width:767px) {
    .action_list ul li {padding-right: 15px;} 
    }
    @media screen and (min-width:320px) and (max-width:374px) {
    .filter_drop_down {padding: 5px;}
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    