<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1">
       <!-- <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
        <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT" />-->
        <title>
           Gist
        </title>
        {% load static %}
        <link rel="icon" href="{%static 'favicon.png' %}" />
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/bootstrap-select.css' %}" />
        <link rel="stylesheet" href="{%static 'css/style.css' %}" />
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}" />
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/animate.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/toastr.min.css' %}" />
        <link rel="stylesheet" href="{%static 'fonts/fonts.css' %}" />
        <link rel="icon" type="image/png" href="{%static 'favicon.png' %}" />
        <script src="{%static 'js/jquery.min.js' %}"></script>
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
        <script src="{%static 'toastr-master/build/toastr.min.js' %}"></script>
        <script src="{%static 'js/jquery.validate.min.js' %}"></script>
        <script src="{%static 'js/routes.js' %}"></script>
        <script src="{%static 'js/helpers.js' %}"></script>
        
        <script type="text/javascript">
            toastr.options = {
                "closeButton": true,
                "preventDuplicates": true,
                "extendedTimeOut": false,
                "showDuration": "300",
                "positionClass": "toast-top-center"
            }

        </script>



        <script src="{%static 'js/scripts.js' %}"></script>
        <script src="{%static 'js/velocity.min.js' %}"></script>
        <script src="{%static 'js/velocity.ui.min.js' %}"></script>


    
    </head>
<body class="grey_bg">

    <div class="header_outer">
        <div class="header_inner">
            <div class="logo">
                <div class="back_icon">
                    <h1><a href="#" title="Gist Logo">Gist</a></h1>
                </div>
            </div>
            <div class="menu_links">
                <ul>
                    <li> <a title="Help" class="btns" href="#">Help</a> </li>
                    <li> <a href="#" id="toggle_menu" title="Menu">
                            <span id="menu-lines-container">
                                <span id="menu-line-top"></span>
                                <span id="menu-line-bottom"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="menu_list">
        <ul>
            <li><a href="/api/v1/" target="_blank">REST API</a>
           <!--<li><a href="#" title="Join">Record New Gist</a></li>-->
            <li><a href="/candidate/edit/{{user.email}}" title="Login">Update Profile</a></li>
            <li><a href="/help" title="Support">Support</a></li>
            <li><a href="/colleges" title="Colleges">Colleges</a></li>
            <li><a href="/candidate/logout" title="Logout">Logout</a></li>
            <li class="menu_term_link"><span>© I Think Therefore I am Ventures — <a href="#" title="Terms &amp; Privacy">Terms &amp; Privacy</a></span></li>
        </ul>
    </div>


    <div class="page_outer_section">

        <div class="auto_apply coman_outer">
            <div class="auto_apply_inner">
                <div class="share_gist">
                    <h2>{{candidate.Name}}</h2>
                    <div class="auto_apply_btn"><button type="button" class="btn" title="Auto Apply" data-toggle="modal" data-target="#applyWithGist"><span class="bolt_icon"><img src="{% static 'images/bolt.png' %}" alt="Bolt"></span><span>Auto Apply</span></button></div>
                    <div class="share_btn"><button type="button" class="btn" title="Share my Gist" id="sharegist">Share my Gist ›</button></div>
                </div>
                <div class="candidate_video">
                    <video width="550" height="750" muted autoplay class="video_inner" controls>
                        <source src="/media/videos/{{candidate.video_url}}" type="video/mp4">
                    </video>
                    <div class="progres_outer">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            </div>
                        </div>
                    </div>
                    <div class="copied_clipboard" style="display: none;"><p>Link copied to clipboard.</p></div>
                </div>
            </div>

        </div>

       



    </div>


    <!--Share via Email code start here-->
    <div class="modal fade popup_outer complete_popup" id="applyWithGist" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Apply with Gist</h3> <button type="button" class="close" title="close" data-dismiss="modal" aria-hidden="true"><img src="{% static 'images/pop_close.png' %}" title="Close iocn" class="img-responsive" alt="close iocn"></button>
                </div>
                <form method="POST" id="candidateInvitation">
                <div class="modal-body">
                    <div class="auto_apply_popout">
                        <p>Applying for a job on the web? Attracting<br>
                            employers is easy when they know who you are.<br>
                            Just enter an employer’s email below, then we’ll <br>
                            introduce you on Gist, and you’ll be 5.5x more <br>
                            likely to land the interview.</p>
                        <div class="fild_outer">
                            <div class="fild_inner">
                                <input class="form-control" name="candidateEmployerEmail" placeholder="Enter employer’s email" type="text">
                            </div>
                        </div>

                        <div class="send_btn"><button type="submit"  class="btn">Send</button></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--Share via Email code end here-->


    <!--Share via Email code start here-->
    
    <!--Share via Email code end here-->



<div class="first_time_sign_in" style="display:none;"><p>Welcome {{candidate.Name}}! Your Gist is live — now sit back while the companies come to you!</p></div>
   <!-- <script src="<?= $app['base_assets_url']; ?>js/bootstrap.min.js"></script>-->
   <script src="{% static  'js/bootstrap-select.js' %}"></script>
   <script>
     window.scrollTo(0, 0);
     window.addEventListener('scroll', function(e) {
         // console.log(window.scrollY);
         if (window.scrollY > 100) {
             document.getElementsByClassName('header_outer')[0].classList.add("sticky");
         } else {
             document.getElementsByClassName('header_outer')[0].classList.remove("sticky");
         }
     })


     $('.custom_textarea').on("keyup", function(e) {
         var maxlength = 10000;

         this.style.height = "1px";
         if (parseInt(this.scrollHeight) <= 50) {
             console.log(this.scrollHeight);
             this.style.height = "50px";
         } else {
             this.style.height = (this.scrollHeight) + "px";
         }

     });



     $('.slide_toggle').click(function() {
         var check = $('.edit_side').hasClass("toggle")
         if (check) {
            /* console.log("a")*/
             $('.edit_side').removeClass("toggle")
         } else {
             $('.edit_side').addClass("toggle")
         }
     })
 </script>
          
    <script>
        window.scrollTo(0, 0);
        window.addEventListener('scroll', function(e) {
            // console.log(window.scrollY);
            if (window.scrollY > 100) {
                document.getElementsByClassName('header_outer')[0].classList.add("sticky");
            } else {
                document.getElementsByClassName('header_outer')[0].classList.remove("sticky");
            }
        })


        $('.custom_textarea').on("keyup", function(e) {
            var maxlength = 10000;

            this.style.height = "1px";
            if (parseInt(this.scrollHeight) <= 50) {
                console.log(this.scrollHeight);
                this.style.height = "50px";
            } else {
                this.style.height = (this.scrollHeight) + "px";
            }

        });




        $(document).ready(function() {
            if (parseInt($(window).width()) <= 767) {
                $(".edit_side").slideUp();
            }

            $(".slide_down").click(function() {
                $(".edit_side").slideToggle();
            });
        });

        $(document).on('click',"#sharegist",function(){
         
         $('#sharePopup').modal('show');
        })

         $(window).load(function(){
        $(".first_time_sign_in").show().delay(5000).fadeOut();
         })
        function displayMessage(){
            $(".copied_clipboard").show().delay(5000).fadeOut();
        }

 var tolerancePixel = 300;
    var counter = 0;
    function checkMedia(){
        
       console.log("scroll"+tolerancePixel)
        // Get current browser top and bottom
        var scrollTop = $(window).scrollTop() + tolerancePixel;
        var scrollBottom = $(window).scrollTop() + $(window).height() - tolerancePixel;
        var media = $('.video_inner');
        console.log(media)
        $(media).get(0).play();
        media.each(function(index, el) {

       console.log("el-"+$(this))
          var yTopMedia = $(this).offset().top;
          var yPos = el.offsetTop - el.scrollTop + el.clientTop;
       //   console.log($(el).position())
                //console.log(yPos)
          var yBottomMedia = $(this).height() + yTopMedia;
            if(scrollTop < yBottomMedia && scrollBottom > yTopMedia){ //view explaination in `In brief` section above
         //   console.log("a")
              $(this).get(0).play();
            }
            else {
           //      console.log("b")
              $(this).get(0).pause();
               counter = 0;

            }
               $(this).get(0).ontimeupdate  = function() {
        console.log("The video is now playing");

         var currentTime = $(this)[0].currentTime

           var duration = $(this)[0].duration;
var percent = Math.floor((currentTime/this.duration) * 100);
var calc = percent+"%";

if (this.paused==false) {
    console.log(this.paused);
  $('.progress-bar').css("width",calc)
}

         console.log(currentTime)
             
            };
          });
        //}
      }

      $(window).on('scroll', checkMedia);
        
    </script>

 
</body>

</html>