{% load static %}
<script src="{%static 'js/bootstrap-select.js' %}"></script>
        <script src="{%static 'js/custom.js' %}"></script>
        <script>
   
            window.addEventListener('scroll', function (e) {
                // console.log(window.scrollY);
                if (window.scrollY > 100) {
                    document.getElementsByClassName('header_outer')[0].classList.add("sticky");
                } else {
                    document.getElementsByClassName('header_outer')[0].classList.remove("sticky");
                }
            })
            
            $(document).ready(function () {
                window.scrollTo(0, 0);
                if (parseInt($(window).width()) <= 767) {
                    $(".edit_side").slideUp();
                }
        
                $(".slide_down").click(function () {
                    $(".edit_side").slideToggle();
                });
            });
        
            $('.custom_textarea').on("keyup", function (e) {
                var maxlength = 10000;
        
                this.style.height = "1px";
                if (parseInt(this.scrollHeight) <= 50) {
                    console.log(this.scrollHeight);
                    this.style.height = "50px";
                } else {
                    this.style.height = (this.scrollHeight) + "px";
                }
        
            });
        
            $('.slide_toggle').click(function () {
                var check = $('.edit_side').hasClass("toggle")
                if (check) {
                    /* console.log("a")*/
                    $('.edit_side').removeClass("toggle")
                } else {
                    $('.edit_side').addClass("toggle")
                }
            })
        </script>
        
        
            <script>
                $(document).ready(function () {
                $(".modal").each(function(l) {
                    $(this).on("show.bs.modal", function(l) {
                        var o = $(this).attr("data-easein");
                        "shake" == o ? $(".modal-dialog").velocity("callout." + o) : "pulse" == o ? $(".modal-dialog").velocity("callout." + o) : "tada" == o ? $(".modal-dialog").velocity("callout." + o) : "flash" == o ? $(".modal-dialog").velocity("callout." + o) : "bounce" == o ? $(".modal-dialog").velocity("callout." + o) : "swing" == o ? $(".modal-dialog").velocity("callout." + o) : $(".modal-dialog").velocity("transition." + o)
                    })
                });
             });
          window.onload = function () {
         //$(window).ready(function() {
         setTimeout(function(){ 
          window.scrollTo(0, 0);
          }, 200);
          }
            </script>