<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1">
       <!-- <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
        <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT" />-->
        <title>
           Gist
        </title>
        {% load static %}
        <link rel="icon" href="{%static 'favicon.png' %}" />
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/bootstrap-select.css' %}" />
        <link rel="stylesheet" href="{%static 'css/style.css' %}" />
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}" />
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/animate.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/toastr.min.css' %}" />
        <link rel="stylesheet" href="{%static 'fonts/fonts.css' %}" />
        <link rel="icon" type="image/png" href="{%static 'favicon.png' %}" />
        <script src="{%static 'js/jquery.min.js' %}"></script>
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
        <script src="{%static 'toastr-master/build/toastr.min.js' %}"></script>
        <script src="{%static 'js/jquery.validate.min.js' %}"></script>
        <script src="{%static 'js/routes.js' %}"></script>
        <script src="{%static 'js/helpers.js' %}"></script>
        
        <script type="text/javascript">
            toastr.options = {
                "closeButton": true,
                "preventDuplicates": true,
                "extendedTimeOut": false,
                "showDuration": "300",
                "positionClass": "toast-top-center"
            }

        </script>



        <script src="{%static 'js/scripts.js' %}"></script>
        <script src="{%static 'js/velocity.min.js' %}"></script>
        <script src="{%static 'js/velocity.ui.min.js' %}"></script>


    
    </head>

    <div class="header_outer index_header">
        <div class="header_inner">
            <div class="logo">
                <div class="back_icon">
                    <h1><a href="/" title="Gist Logo">Gist</a></h1>
                </div>
            </div>
            <div class="menu_links">
                <ul>
                                       <!-- <li class="employers_link hidden_mobile"> <a title="Join" class="btns" href="https://www.yourgist.com/candidate/signup">Join</a></li>-->
                       <!--- <li class="employers_link"> <a title="Employers" class="btns" href="/employers">Employers</a></li>-->
                                       <li class="employers_link"> <a title="Employers" class="btns" href="/employer/register">Employers</a></li>

                                        <li> 
                        <a href="javascript:void(0);" id="toggle_menu" title="Menu">
                            <span id="menu-lines-container">
                                <span id="menu-line-top"></span>
                                <span id="menu-line-bottom"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu_list">
        <ul>
            <li><a href="/candidate/sign_up" title="Join">Join</a></li>
            <li><a href="/api/v1/" target="_blank">REST API</a>
            <li><a href="/candidate/login" title="Login">Login</a></li>
                <li><a href="#" title="Help">Support</a></li>
                <li><a href="/colleges" title="Colleges">Colleges</a></li>
                <li><a href="/employer/register" title="Employers">Employers</a></li>
                </ul>
    </div>
    
        </div>
    </div>
     <div class="copied_clipboard employer_clipboard copies_link" style="display: none;"><p>Your information has been submitted successfully, and we will contact you shortly.</p></div>
    
        <div class="page_outer_section">
            <div class="hero_section coman_outer wow fadeInDown animated">
                                <div class="phone_img">
                        <div class="hero_video_outer">
                            <div class="hero_video candidate_video">
                                <video width="414" height="736" autoplay loop muted playsinline class="video_inner" ontimeupdate="onPlayVideo(this)">
                                    <source src="{%static 'video/Nina.mov' %}" type="video/mov">
                                    <source src="{%static 'video/Nina.mp4' %}" type="video/mp4">
                                    <source src="{%static 'video/Nina.ogv' %}" type="video/ogv">
                                    <source src="{%static 'video/Nina.webm' %}" type="video/webm">
                                </video>
                                <div class="progres_outer">
                                    <div class="progress">
                                        <div class="progress-bar video-progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                         
                       <div class="mobile_mask" id="mobile_mask">
                           <img alt="" src="{%static '/images/phone_frame.png' %}"/>
                           <a class="click_action" style="display:none" href="#"><img class="unmute_icon" alt="unmute icon" src="{%static '/assets/images/unmute-icon.png'  %}"/></a>
                           <div class="video_control" style="display: none;"></div>
                        </div> 
                    </div>
                
                                <div class="hero_dec">
                    <h2>Discover your future<br> with the companies<br> creating it.</h2>
                    <h3>Join Gist to get stellar <br> job offers from 500+<br> leading companies like<br> Disney, Facebook,<br> Google and SpaceX.</h3>
                                    <div class="sign_up">
                        <a href="/candidate/signup"><button class="btn submit_btn btn" type="button" title="Join">Join</button></a>
                        <span class="how_its_works"><a href="/howitworks" title="About">About</a></span>
                    </div>
                    <div class="scroll_down">
                        <a id="scroll_down_btn" href="javascript:void(0)" title="or scroll for more info"><img src="{%static 'assets/images/down_arrow.png'  %}" title=" or scroll for more info"></a>
                    </div>
                </div>
    
            </div>
    
            <div id="signing_step" class="coman_outer signing_up wow fadeInDown animated">
                <div class="signing_up_inner">
                    <h2 class="coman_heading">Signing up is easy</h2>
    
                    <div class="step_point">
                        <h6>STEP</h6>
                        <h3>1</h3>
                        <p>Browse a list of fun <br> questions we’ve designed <br> with leading companies.</p>
                    </div>
    
                    <div class="step_point signing_step_two">
                        <h6>STEP</h6>
                        <h3>2</h3>
                        <p>Choose a question and create <br> a Gist, a thirty second video <br> reply (like an Insta story).</p>
                    </div>
    
                    <div class="step_point">
                        <h6>STEP</h6>
                        <h3>3</h3>
                        <p>Your Gist is beamed to <br> 500+ companies who can <br> follow up with you directly.</p>
                    </div>
                </div>
            </div>
    
    
            <div id="we_believe" class="we_believe coman_outer wow fadeInDown animated">
                <h2>We believe in what we do.<br>
                    And we think you will too.</h2>
                <div class="we_believe_dec">
                    <p><span class="top_quote"><img src="{%static '/images/top_quote.png'%}" title="quotes"></span>
                        Gist did exactly what <br>
                        they said they'd do. Get <br>
                        me in front of awesome <br>
                        companies and hiring <br>
                        managers. My first offer <br>
                        came within three days.<br>
                        The process was fast, <br>
                        easy, and I start my new <br>
                        job today!
                        <span class="bottom_quote"><img src="{%static '/assets/images/bottom_quote.png'%}" title="quotes"></span></p>
                    <h6>Erica, Los Angeles CA</h6>
                </div>
    
                <div class="we_believe_img">
                    <img src="{%static '/assets/images/testimonial.jpg'%}" title="">
                </div>
            </div>
    
    
            <div class="coman_outer user_feedback wow fadeInDown animated">
                <div class="user_feedback_inner">
                    <h2 class="coman_heading">More reviews</h2>
                    <div class="reating_outer">
                        <p><span class="rating_icon"><img src="{%static 'assets/images/star_reating.png'%}" alt="Rating"></span><span> <span class="out_of_reating">4.8 out of 5 stars</span> <span>— based on the 50 most recent reviews</span></span></p>
                    </div>
                    <div class="rading_star">
                        <div class="rading_bar">
                            <ul>
                                <li><span class="points">5 star</span>
                                    <div class="progress custom_bar">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                                    </div>
                                    <span class="num_count">38</span>
                                </li>
                                <li><span class="points">4 star</span>
                                    <div class="progress custom_bar">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%"></div>
                                    </div>
                                    <span class="num_count">7</span>
                                </li>
                                <li><span class="points">3 star</span>
                                    <div class="progress custom_bar">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
                                    </div>
                                    <span class="num_count">4</span>
                                </li>
                                <li><span class="points">2 star</span>
                                    <div class="progress custom_bar">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100" style="width:4%"></div>
                                    </div>
                                    <span class="num_count">1</span>
                                </li>
                                <li><span class="points">1 star</span>
                                    <div class="progress custom_bar">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
                                    </div>
                                    <span class="num_count">0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="user_feedback_slider wow fadeInDown animated">
                    <div class="feedback_slide_innerr carousel-reviews">
                        <div class="reating_dec">
                            <ul>
                                <li>
                                    <div class="reating_tab">
                                        <div class="reating_num"><img src="{%static '/assets/images/five_star.png'%}" alt="Rating"></div>
                                        <h4>Landed a job</h4>
                                        <p>“I’ve been sending out resumes <br> and applying for jobs online but <br> I’ve gotten very few replies. After <br> joining Gist I had two interviews <br> and a job offer within a week. <br> Gist rocks!”</p>
                                        <div class="auther_name_outer">
                                            <h5><span>Kevin</span> <img src="{%static '/assets/images/check.png'%}" alt="Rating"></h5>
                                            <h6>New York City — Nov 2018</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="on_mobile">
                                    <div class="reating_tab">
                                        <div class="reating_num"><img src="{%static '/assets/images/five_star.png'%}" alt="Rating"></div>
                                        <h4>Fantastic</h4>
                                        <p>“Finding a job is stressful and<br> tedious. Joining Gist was easy <br> and it made me stand out. Within <br> a few days multiple companies <br> contacted me for interviews, <br> and now I work at Snap!”</p>
                                        <div class="auther_name_outer">
                                            <h5><span>Chan</span> <img src="{%static '/assets/images/check.png'%}" alt="Rating"></h5>
                                            <h6>Los Angeles — Dec 2018</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="on_mobile">
                                    <div class="reating_tab">
                                        <div class="reating_num"><img src="{%static 'assets/images/five_star.png'%}" alt="Rating"></div>
                                        <h4>It works</h4>
                                        <p>“I’ve been thinking of job <br> searching as similar to having <br> my gums scraped. But Gist <br> changed all that for me. It’s <br> easy and delivers everything <br>as promised.”</p>
                                        <div class="auther_name_outer">
                                            <h5><span>Sophia</span> <img src="{%static '/assets/images/check.png'%}" alt="Rating"></h5>
                                            <h6>San Francisco, CA — Dec 2018</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq_outer coman_outer wow fadeInDown animated">
                <div class="faq_outer_inner">
                    <div class="ques">
                        <h2 class="coman_heading">FAQ</h2>
                        <div id="integration-list">
                            <ul>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>What is Gist?</h2>
                                    </a>
                                    <div class="detail in">
                                        <p>Gist is the fastest way to get interviews and job offers from leading 
                                            companies and startups. Think of a Gist like you would an Instagram  
                                            story, but for an audience of stellar companies instead of your  
                                            followers. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>How does it work?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>We’ve compiled a list of dynamic questions from industry experts. Pick  
                                            one you like and record a thirty second video reply. That’s your Gist. 
                                            We'll then beam it to 500+ top employers because getting job offers is  
                                            easy when the companies know who you are. </p>
                                    </div>
                                </li>
    
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>How is Gist different?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>Resumes are boring relics of the past. We just fell asleep thinking 
                                            about reading one. Have a Gist instead.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>How long does it take?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>It takes less than ten minutes to Join for Gist.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>How do I get started?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>It's easy. Click here: <a href="/candidate/signup" title="Join"> /candidate/signup</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>Does it matter if my Gist video is vertical or landscape?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>Yes! Your video should be vertical!</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>How long should my Gist be?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>Your Gist must be 30 seconds or less. Anything past 30 seconds will be cut automatically.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>Any tips for making an effective Gist?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>Go with what's comfortable to you. For a simple video use your phone's  
                                            standard recorder. If you want to get creative, apps like Instagram  
                                            and Clips offer more expressive features.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>Should I wing it or practice?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>Your first impulse may be to get in front of the camera and start  
                                            talking, but it’s usually better to practice a few times first. But 
                                            don't get too practiced. Authentic content is honest and imperfect. 
                                            Imperfect feels real. And employers trust real and reward it with  
                                            engagement and interview requests. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>When will employers be able to see my profile?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>Your Gist will be available to employers as soon as you've completed registration. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>Can I share my Gist?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>You can include your Gist URL on your, ah um, standard resume to liven it up. </p>
                                    </div>
                                </li>
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>I'm not currently looking for a job, is Gist for me?</h2>
                                    </a>
                                    <div class="detail">
                                        <p>Most of the people on Gist are not actively looking for a job. We like 
                                            to think of Gist as being like 
                                            that box of pizza rolls buried in your freezer. You may not eat them 
                                            today, but there will come a 
                                            time late at night when that frozen dough will be your salvation.
                                        </p>
                                    </div>
                                </li>
    
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>We’re hiring, how can we use Gist?</h2>
                                    </a>
                                    <div class="detail">
                                        <p> We are super picky about the companies we work with. To learn more 
                                            about hiring through the 
                                            Gist platform, click here: <a href="/employer/register" title="">/employer/register</a>
                                        </p>
                                    </div>
                                </li>
    
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>Is my college a good fit for Gist's affiliate program?</h2>
                                    </a>
                                    <div class="detail">
                                        <p> Yes! We're passionate about making Gist available to college students 
                                            and alumni. Getting setup is easy, and requires no contracts. Contact  
                                            our staff for more information — <a href="mailto:questions@yourgist.com" title="">questions@yourgist.com</a>
                                        </p>
                                    </div>
                                </li>
    
                                <li>
                                    <a class="expand">
                                        <div class="right-arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                                        <h2>I have a question, who can I contact?</h2>
                                    </a>
                                    <div class="detail">
                                        <p> Email the Gist team at <a href="mailto:questions@yourgist.com" title="">questions@yourgist.com</a>
                                        </p>
                                    </div>
                                </li>
    
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="get_started wow fadeInDown animated">
                <p>Get started</p>
                <h2>There’s a better way to<br> find a career you love</h2>
                <a href="javascript:void(0)"><button class="btn submit_btn btn" type="button" title="Join">Join</button></a>
            </div>
    
            <div class="footer">
                <div class="footer_inner wow fadeInDown animated">
                    <h6><a href="#" title="eva">Gist</a></h6>
                    <p>Email us at <a href="mailto:questions@yourgist.com">questions@yourgist.com</a></p>
                    <p>Call us at <a href="tel:15165083154">1-516-508-3154</a> (Mon - Fri 10AM - 5PM EST)</p>
    
                    <p>New York, NY 10010</p>
                    <div class="follow_us">
                        <h5>Follow</h5>
                        <form name="follow_form" id="follow_form">
                            <div class="folow_fild">
                                <input class="form-control" autocomplete="off" placeholder="name@email.com" type="text" name="follow_email" id="follow_email" /><button type="submit" class="btn" title="Submit"><img src="{%static '/assets/images/forward_arrow.png' %}" alt="Submit"></button>
                            </div>
                        </form>
                    </div>
                    <div class="copy_right">
                        <p>&copy; 2019 I Think Therefore I am Ventures Inc. <a href="/terms" title="Terms &amp; Privacy">Terms &amp; Privacy</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            if(sessionStorage.getItem("success")=="true"){    
            $('.copies_link').show().delay(7000).fadeOut();
            sessionStorage.setItem("success", "");
             }
            </script>
          
            <script type="text/javascript">
        $(document).ready(function(){
           //  showPlayPauseIcon();
           var promise = document.querySelector('video').play();
        
        if (promise !== undefined) {
          promise.then(_ => {
            // Autoplay started!
          }).catch(error => {
        
        var ua = navigator.userAgent.toLowerCase(); 
        if (ua.indexOf('safari') != -1) { 
          if (ua.indexOf('chrome') > -1) {
           // alert("1") // Chrome
        showPlayIcon()
          } else {
            //alert("2") // Safari
          }
        }
            // Autoplay was prevented.
            // Show a "Play" button so that user can start playback.
          });
        }
           //$("video.video_inner").trigger('click');
           //alert($("video").prop('muted'))
           //$("video").play();
        });
                var flag = 0;
                var display_flag = 0;
                function showPlayIcon() {       
                       
                       $("video.video_inner").trigger('click');
                }
        
                function showPlayPauseIcon() {
        
                    if ($('.video_inner')[0].paused) {
        
                        $('.video_control').html('<a href="javascript:void(0);" class="play_pause"><img src="/static/assets/images/play-video.png" alt="Pause Video"></a>');
                    } else {
                       
                        $('.video_control').html('<a href="javascript:void(0);" class="play_pause"><img src="/static/assets/images/pause-video.png" alt="Play Video"></a>');
                    }
                    $('.video_control').show();
                }
        
                $('#mobile_mask').hover(function () {
                   if (flag == 0)
                       // showPlayPauseIcon();
                $('.click_action').css('display','block');   
                }, function () {
                    flag = 0;
                $('.click_action').css('display','none');
                   // $('.video_control').html('').hide();
                });
             /*$(document).on("mousenter","#mobile_mask",function(){
            
            $('click_action').css('display','block');
             })*/
                $(document).on("click", "video.video_inner", function () {
                    if (this.paused) {
                $(this).prop('muted',true);   
                        $('.click_action').css('display','block'); 
                        this.play();
                    } else {
                        this.pause();
                    }
                    //showPlayPauseIcon();
               // $('.click_action').css('display','block');  
                });
        
        
                $(document).on("click",".click_action", function(){
              if( $("video").prop('muted') == true) 
            {
            //alert('a');
            
            var src = $(this).find('img').attr('src')
            var newsrc = src.replace("unmute-icon.png","mute-icon.png")  
            $(this).find('img').attr('src',newsrc)
            }
        
            else {
            
                var src = $(this).find('img').attr('src')
            var newsrc = src.replace("mute-icon.png","test.png")  
            var newsrc2 = newsrc.replace("test.png","unmute-icon.png")
            $(this).find('img').attr('src',newsrc2)
            }
            var bool = $("video").prop("muted");
                $("video").prop("muted",!bool);
                })
            
            
            
                $(document).on("click", ".play_pause", function () {
                    flag = 1;
                    $("video.video_inner").trigger('click');
                
                });
        
                function onPlayVideo(element) {
                    var currentTime = $(element)[0].currentTime;
                    var duration = $(element)[0].duration;
                    var percent = Math.floor((currentTime / duration) * 100);
                    var calc = percent + "%";
        
                    $('.video-progress').css("width", calc);
                }
        
                $('#follow_form').validate({
                    rules: {
                        follow_email: {
                            required: true,
                            email: true,
                        }
                    },
                    messages: {
                        follow_email: {
                            required: 'Please enter email',
                            email: 'PLease enter valid email',
                        }
                    },
                    submitHandler: function () {
                        var data = {};
                        data.body = {
                            email: $('#follow_email').val()
                        };
        
                        show_loader();
                        $.when(followEmail(data)).then(function (data) {
                            window.scroll(0, 0);
                            hide_loader();
                            if (data.meta.success) { // if success
                                $('#follow_email').val('');
                                toastr.success(data.data.message, '', {
                                    timeout: 5000
                                });
                            }
                        });
                    }
                });
            
            $(document).on('click','.get_started a' , function(event){
            event.preventDefault()    
            window.location.href = "/candidate/signup"   
            return false;
            })
            </script>
        </body>
        
        <!--Loader section start here-->
        <div class="loader_outer" id="loader" style="display:none">
            <div class="spinner">
                <h2>Gist</h2>
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <!--Loader section end here-->
        {% include "splash/footer.html" %}
        