<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1">
       <!-- <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
        <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT" />-->
        <title>
           Gist
        </title>
        {% load static %}
        <link rel="icon" href="{%static 'favicon.png' %}" />
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/bootstrap-select.css' %}" />
        <link rel="stylesheet" href="{%static 'css/style.css' %}" />
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}" />
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/animate.min.css' %}" />
        <link rel="stylesheet" href="{%static 'css/toastr.min.css' %}" />
        <link rel="stylesheet" href="{%static 'fonts/fonts.css' %}" />
        <link rel="icon" type="image/png" href="{%static 'favicon.png' %}" />
        <script src="{%static 'js/jquery.min.js' %}"></script>
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
        <script src="{%static 'toastr-master/build/toastr.min.js' %}"></script>
        <script src="{%static 'js/jquery.validate.min.js' %}"></script>
        <script src="{%static 'js/routes.js' %}"></script>
        <script src="{%static 'js/helpers.js' %}"></script>
        
        <script type="text/javascript">
            toastr.options = {
                "closeButton": true,
                "preventDuplicates": true,
                "extendedTimeOut": false,
                "showDuration": "300",
                "positionClass": "toast-top-center"
            }

        </script>



        <script src="{%static 'js/scripts.js' %}"></script>
        <script src="{%static 'js/velocity.min.js' %}"></script>
        <script src="{%static 'js/velocity.ui.min.js' %}"></script>


    
    </head>
    <body class="grey_bg">

    <div class="header_outer sign_up">
        <div class="header_inner">
            <div class="logo">
                <div class="back_icon"><a href="/" title="Gist"><img src="{%static 'images/back_icon.png' %}" alt="Back icon"></a></div>
            </div>
            <div class="page_heading">
                <h1><a href="#" title="Join">Join</a></h1>
            </div>
            <div class="menu_links">
                <ul>
                    <li> <a title="Help" class="btns" href="#">Help</a> </li>
                    <li> <a href="#" id="toggle_menu" title="Menu">
                            <span id="menu-lines-container">
                                <span id="menu-line-top"></span>
                                <span id="menu-line-bottom"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="menu_list">
            <ul>
                <li><a href="/candidate/sign_up" title="Join">Join</a></li>
                <li><a href="/api/v1/" target="_blank">REST API</a>
                <li><a href="/candidate/login" title="Login">Login</a></li>
                <li><a href="/help" title="Support">Support</a></li>
                <li><a href="/colleges" title="Colleges">Colleges</a></li>
                <li><a href="/employer/register" title="Employers">Employers</a></li>
                <li class="menu_term_link"><span>© I Think Therefore I am Ventures — <a href="#" title="Terms &amp; Privacy">Terms &amp; Privacy</a></span></li>
            </ul>
        </div>
    </div>
    <div class="page_outer_section">
        <div class="sign_up_steps coman_outer">
            <div class="steps_inner">
                <ul>
                    <li class="active">
                        <span class="step_num">1<img class="tick" alt="" src="{%static 'images/check_icon.png' %}"></span>
                        <span class="step_type">Choose</span>
                    </li>
                    <li>
                        <span class="step_num">2<img class="tick" alt="" src="{%static 'images/check_icon.png' %}"></span>
                        <span class="step_type">Upload</span>
                    </li>
                    <li>
                        <span class="step_num">3<img class="tick" alt="" src="{%static 'images/check_icon.png' %}"></span>
                        <span class="step_type">Profile</span>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="choose_ques coman_outer">
            <div class="choose_ques_inner">
    
    <div class="step_one_outer candidate_signup_stepone">
        <h2 class="coman_heading">Choose a question</h2>
    
        <div class="ques_list_outer">
            {% for question in questions %}
            <div class="ques_list">
                <div class="question_tab">
                    <p>{{question.Question}}</p>
                    <input type="hidden" id="question_id" value="{{question.Question_Id}}">
                    <div class="question_check"><a href="#"><img class="tick" alt="" src="{%static 'images/check_icon.png' %}"></a></div>
                </div>
            </div>
    
            {% endfor %}
    
        </div>
    </div>
</div>
</div>

    <div class="step_two_outer">
        <div class="upload_inner">
        <!--<div class="video_error"></div> -->   
         <div class="apply_now submit_employers" style="text-align: left;
        margin: 0px 0px 2% 14%;"><button class="submit_btn btn" title="Retry" id="retryvideo" style="display:none;">Retry</button></div>  
            <div class="upload_side">
                <div class="upload_video">
                    <img alt="Upload" src="{%static 'images/upload.png' %}">
                    <h3>Upload Your Video</h3>
                    <p>Your video should be vertical<br> and must be 30 seconds or less.</p>
            {% csrf_token %}

                    <div class="upload_btn">
                        <input name="poop" id="poop" class="upload" type="file" onchange="setFileInfo(this)" />
                        <label class="upload_text" for="poop">Choose File</label>
                    </div>
    
                </div>
                <div class="uploaded_video">
                    <div class="progres_outer">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            </div>
                        </div>
                        <span class="value">100%</span>
                    </div>
    
                    <div class="video_come_here">
                        <video width="348" height="542" controls>
                            <source src="movie.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
    
            <div class="edit_ques">
                <div class="edit_question">
                    <h2 class="coman_heading">Upload your Gist</h2>
                    <div class="change_ques_inner">
                        <h3>Question</h3>
                        <div class="change_ques edit_signup_ques">
                            <p>If you could have one superpower, what would it be and why? — <a title="Edit" href="#">Edit</a></p>
                        </div>
                        <h4>Tips</h4>
                        <p>Go with what's comfortable to you. For a simple video
                            use your phone's standard recorder. If you want to get
                            creative, apps like Instagram and Clips offer more
                            expressive features.</p>
    
                        <p>Your first impulse may be to get in front of the camera
                            and start talking, but it’s usually better to practice a few
                            times first.</p>
    
                        <p>Authentic content is honest and imperfect. Imperfect
                            feels real. And employers trust real and reward it with
                            engagement and interview requests.</p>
                            <div class="master_video_buttons">
                        <div class="continue_btn"><!--<a class="" href="#" title="Continue">Continue</a>--><button class="conti_btn submit_btn btn" title="Continue" disabled="true">Continue</button></div>
                        <div class="apply_now submit_employers save_video_button" style="display:none;"><button class="submit_btn btn" title="Change Video">Change Video</button></div>
                    </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="step_three_outer">
        <div class="almost_outer">
            <h2 class="coman_heading">You’re almost done</h2>
            <p>Complete your profile so companies can find you on Gist</p>
        </div>
        <div class="register_form_inner">
            <div class="user_form">
                <form method="POST" id="candidatesignup_form" action="/candidate/register">
                    {% csrf_token %}
                    <div class="fild_outer">
                        <label class="tittle_heading">Your Name *</label>
                        <div class="fild_inner">
                            <input autofocus="" class="form-control" name="candidatename" placeholder="Enter your name" type="text">
                        </div>
                    </div>
    
    
                    <div class="fild_outer">
                        <label class="tittle_heading">Email *</label>
                        <div class="fild_inner">
                            <input class="form-control" placeholder="Your personal email" type="text" name="candidateemail" id="candidateemail">
                        </div>
                    </div>
    
    
                    <div class="fild_outer">
                        <label class="tittle_heading">Experience *</label>
                        <div class="fild_inner">
                            <select class="selectpicker form-control initialexperience" name="candidateexperience[]" id="candidateexperience">
                            <option value="default" selected>Your experience level</option>
                            {% for experience in experiences %}
                    <option value="{{experience.Experience_Id}}">{{experience.Experience_level}}</option>
                          {%endfor%}
                            </select>                    
                        </div>
                    </div>
    
    
                    <div class="fild_outer">
                        <label class="tittle_heading">Primary Field *</label>
                        <div class="fild_inner">
                            <select class="selectpicker form-control" name="candidateexpertise[]">
                            <option value="default" selected>Your area of expertise</option>
                            {% for expertise in expertises %}
                    <option value="{{expertise.Expertise_Id}}">{{expertise.Expertise_level}}</option>
                    {%endfor%}
                            </select>
                        </div>
                    </div>
    
    
                    <div class="fild_outer">
                        <label class="tittle_heading">URL *</label>
                        <div class="fild_inner">
                            <textarea class="form-control" placeholder="Paste your LinkedIn, GitHub, Stack Overflow or personal website URL" name="candidateurl"></textarea>
                        </div>
                    </div>
                    
    
             
                    
    
              
                 <!--Work Experience  HTML end here-->  
                    
                    
                    <div class="fild_outer">
                        <label class="tittle_heading">Blocked List</label>
                        <div class="fild_inner">
                            <textarea class="form-control" placeholder="List any companies you want to block from seeing your information" name="candidateblockedlist"></textarea>
                        </div>
                    </div>
                    
                    
                   <!--Location  HTML start here-->               
                      
                    <!--Location  HTML end here-->
                    
                    
                      <!--Skill Tags   HTML start here-->               
                     
                    <!--Skill Tags  HTML end here-->
                    
                <div class="fild_outer">
                    <label class="tittle_heading">Password *</label>
                    <div class="fild_inner">
                        <input class="form-control" placeholder="Create a password " type="password" name="candidatepassword">
                    </div>
                </div>
                <input type="hidden" id="chosen_question" name="chosen_question" value=""/>
                <input type="hidden" id="uploaded_video" name="video" value=""/>
              <div class="apply_now submit_employers"><button class="submit_btn btn" title="Complete">Complete</button></div>
             <div class="click_complete"><p>By clicking “Complete” you’re indicating that you have read and agree to our Terms of Service</p></div>
           </form>
          </div>
       </div>
    
    </div>
    
        </body>
        
        <!--Loader section start here-->
        <div class="loader_outer" id="loader" style="display:none">
            <div class="spinner">
                <h2>Gist</h2>
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <!--Loader section end here-->
        {% include "splash/footer.html" %}
        