<!DOCTYPE HTML>
<html>
    <head>
        <title>Pane Table</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="css/tubpane_style.css" rel="stylesheet" type="text/css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>

    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading panel-heading-box">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">Project Cost Plan</a></li>
                                <li><a href="#tab2default" data-toggle="tab">Metrial Cost</a></li>
                                <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                                <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-6 dropdown-section">
                            <a class="btn btn-primary btn-select">
                                <!--<input type="hidden" class="btn-select-input" id="" name="" value="" />-->
                                <span class="btn-select-value">Select an Item  <i class='btn-select-arrow glyphicon glyphicon-chevron-down'></i></span>
                               
                                <ul>
                                    <li>Option 1</li>
                                    <li>Option 2</li>
                                    <li>Option 3</li>
                                    <li>Option 4</li>
                                </ul>
                            </a>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Project Number</th>
                                                <th>Task</th>
                                                <th>Metrial Number</th>
                                                <th>Text</th>
                                                <th>Qty</th>
                                                <th>Type</th>
                                                <th>Unit type</th>
                                                <th>Currency</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="tab2default">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Project Number</th>
                                                <th>Task</th>
                                                <th>Metrial Number</th>
                                                <th>Text</th>
                                                <th>Qty</th>
                                                <th>Type</th>
                                                <th>Unit type</th>
                                                <th>Currency</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="tab3default">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Project Number</th>
                                                <th>Task</th>
                                                <th>Metrial Number</th>
                                                <th>Text</th>
                                                <th>Qty</th>
                                                <th>Type</th>
                                                <th>Unit type</th>
                                                <th>Currency</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="tab4default">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Project Number</th>
                                                <th>Task</th>
                                                <th>Metrial Number</th>
                                                <th>Text</th>
                                                <th>Qty</th>
                                                <th>Type</th>
                                                <th>Unit type</th>
                                                <th>Currency</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                            <tr>
                                                <td>T00001</td>
                                                <td>TA-000001</td>
                                                <td>1000001</td>
                                                <td>Hard Disk</td>
                                                <td>1</td>
                                                <td>C</td>
                                                <td>3000</td>
                                                <td>AUD</td>
                                                <td>3000</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                // tell the embed parent frame the height of the content
                if (window.parent && window.parent.parent) {
                    window.parent.parent.postMessage(["resultsFrame", {
                            height: document.body.getBoundingClientRect().height,
                            slug: "33Aby"
                        }], "*")
                }
            </script>





    </body></html>