html,body{ height: 100%;color: #121212;font-family: 'Avenir Roman';-moz-font-smoothing: antialiased;-webkit-font-smoothing: antialiased;}
.grey_bg{background: #fafafa;}
/*body{background: #f5f5f6;}*/
a{color: #153dd5;text-decoration: none;}
img {max-width: 100%;}
ol,ul {margin: 0;padding: 0;}
a,button{box-shadow: none !important;}
a,button,input {outline: none !important;text-decoration: none !important;}
p{color: #071031;margin: 0;font-size: 16px;}
.main_heading{line-height: 64px;font-size: 44px;text-align: left;margin: 0;width: 100%;float: left;}
.page_outer_section {width: 100%;float: left;padding: 73px 0 50px;}
.coman_outer {width: 100%;float: left;text-align: center;}
/*Header css start here*/
.header_outer.sticky {-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.05);box-shadow: 0 3px 3px rgba(0,0,0,0.05);}
.header_outer {width: 100%;float: left;text-align: center; padding: 15px 0;background:#fff;-webkit-transition-delay: 380ms;-moz-transition-delay:380ms;-o-transition-delay:380ms;transition-delay:380ms;position: fixed;left: 0;right: 0;top: 0;z-index: 999;border-bottom: 1px solid #f4f4f4;}
.header_inner {display: inline-block;width: 100%;/*max-width: 1670px;*/padding: 0 7vh;}
.logo {width: 50%; text-align: left;display: inline-block;vertical-align: middle; }
.menu_links {width: 50%;display: inline-block;vertical-align: middle;margin-left: -5px;}
.sign_up .menu_links {width: 30%;}
.sign_up .page_heading {width: 40%;display: inline-block;vertical-align: middle;text-align: center;margin-left: -5px;}
.sign_up .logo {width: 30%;}



.logo h1,.page_heading h1 {margin: 0;line-height: 22px;}
.logo h1 a,.page_heading h1 a {display: inline-block;font-size: 40px;color: #153dd5;font-family: 'Avenir Heavy';line-height: 36px;}
.sign_up .back_icon a img{max-width: 20px;}
/*menu css start here*/
#menu-lines-container {position: relative;display: block;width:50px; height: 20px; transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99)}
.nav-visible #menu-lines-container {transform: rotate(90deg)}
#menu-line-top,#menu-line-bottom {position: absolute; top: 0;left: 0;display: block;width: 40px;height: 20px; -webkit-transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);}
#menu-line-top:before,#menu-line-bottom:before {content: '';display: block;width:50px;height: 3px;background-color: #7c838d;position: absolute;left: 0;transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);}
#menu-line-top::before {top: 2px;}
#menu-line-bottom::before {top: 14px;width: 39px;right: 0;left: auto;}
#toggle-menu-button {float: right;}
body:not(.menu_visible) a:hover #menu-line-bottom::before {-ms-transform: translateY(2px);-webkit-transform: translateY(2px);-moz-transform: translateY(2px);-o-transform: translateY(2px);transform: translateY(2px);}
body:not(.menu_visible) a:hover #menu-line-top::before {-ms-transform: translateY(-2px);-webkit-transform: translateY(-2px);-moz-transform: translateY(-2px);-o-transform: translateY(-2px);transform: translateY(-2px);}
#toggle_menu { float: right;position: relative;z-index: 99;}
.menu_list {position: absolute;z-index: 2;top: 0;left: 0;height: 100%;width: 100%;background-color: transparent;padding: 0 40px;box-sizing: border-box;visibility: hidden;transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);}
.menu_visible .menu_list { visibility: visible;background-color: #fff;}
.menu_list {visibility: hidden;}
.menu_list ul {text-align: center;max-width: 390px;margin: 0 auto;list-style-type: none;padding:140px 0 0;}
.menu_list ul li {opacity: 0; transform: scale(1.1);transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99)}
.menu_visible .menu_list li {opacity: 1; transform: scale(1)}
.menu_visible .menu_list ul li:nth-child(1) {-webkit-transition-delay: 80ms;-moz-transition-delay:80ms;-o-transition-delay:80ms;transition-delay:80ms;}
.menu_visible .menu_list ul li:nth-child(2) {-webkit-transition-delay: 180ms;-moz-transition-delay:180ms;-o-transition-delay:180ms;transition-delay:180ms;}
.menu_visible .menu_list ul li:nth-child(3) {-webkit-transition-delay: 280ms;-moz-transition-delay:280ms;-o-transition-delay:280ms;transition-delay:280ms;}
.menu_visible .menu_list ul li:nth-child(4) {-webkit-transition-delay: 380ms;-moz-transition-delay:380ms;-o-transition-delay:380ms;transition-delay:380ms;}
.menu_visible .menu_list ul li:nth-child(5) {-webkit-transition-delay: 480ms;-moz-transition-delay:480ms;-o-transition-delay:480ms;transition-delay:480ms;}
.menu_visible .menu_list ul li:nth-child(6) {-webkit-transition-delay: 580ms;-moz-transition-delay:580ms;-o-transition-delay:580ms;transition-delay:580ms;}
.menu_list ul li a {color:#011936;font-size: 42px;line-height:46px;padding: 20px 0;border-bottom: 1px solid #d3d3d3;display: block;text-decoration: none;-webkit-transition: all 0.1s ease-in;-moz-transition: all 0.1s ease-in;-o-transition: all 0.1s ease-in;transition: all 0.1s ease-in;font-family: 'Avenir Medium';}
.open_menu #menu-line-bottom::before {height: 3px;top: 14px;width:50px;background: #7c838d; border-radius: 2px;}
.open_menu #menu-line-top::before {height: 3px;background: #7c838d;border-radius: 2px;}
.menu_list ul li.menu_term_link {text-align: center;font-size: 14px;color: #858585;margin-bottom: 25px;font-family: 'Avenir Book';-webkit-transition: all 0.1s ease-in;-moz-transition: all 0.1s ease-in;-o-transition: all 0.1s ease-in;transition: all 0.1s ease-in;padding-top: 80px;}
.menu_list ul li a:hover{color: #1f436e;}
.menu_visible .menu_list ul li.menu_term_link span{-webkit-transition: all 0.1s ease-in;-moz-transition: all 0.1s ease-in;-o-transition: all 0.1s ease-in;transition: all 0.1s ease-in;}
.menu_list ul li.menu_term_link {opacity: 0; transform: scale(1.1);transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99)}
.menu_visible .menu_list ul li.menu_term_link {opacity: 1; transform: scale(1)}
.menu_list ul li.menu_term_link a{color: #858585;font-size: 14px;border: none;display: inline-block;padding: 0;-webkit-transition: all 0 ease-in;-moz-transition: all 0 ease-in;-o-transition: all 0 ease-in;transition: all 0 ease-in;}
.menu_visible #menu-line-top {-ms-transform: rotate(135deg) scaleX(0.7);-webkit-transform:rotate(135deg) scaleX(0.7);-moz-transform: rotate(135deg) scaleX(0.7);-o-transform: rotate(135deg) scaleX(0.7);transform: rotate(135deg) scaleX(0.7);}
.menu_visible #menu-line-bottom{
-ms-transform: rotate(45deg) scaleX(0.7);-webkit-transform:rotate(45deg) scaleX(0.7);-moz-transform: rotate(45deg) scaleX(0.7);-o-transform: rotate(45deg) scaleX(0.7);transform: rotate(45deg) scaleX(0.7);}
.menu_visible #menu-line-top::before {-ms-transform: translate(-1px, 6px);-webkit-transform: translate(-1px, 6px);-moz-transform: translate(-1px, 6px);-o-transform: translate(-1px, 6px);transform: translate(-1px, 6px);}
.menu_visible #menu-line-bottom::before {-ms-transform: translate(6px, -3px);-webkit-transform: translate(6px, -3px);-moz-transform: translate(6px, -3px);-o-transform: translate(6px, -3px);transform: translate(6px, -3px);}
.animate_menu{-webkit-transition-delay: 60ms;-moz-transition-delay:60ms;-o-transition-delay:60ms;transition-delay:60ms;}
.sign_up #menu-line-top::before, #menu-line-bottom::before{background:#7c838d;}
.menu_links li {display:inline-block;vertical-align: middle;list-style: none;padding-left: 25px;}
.menu_links ul {float: right;width: 100%;text-align: right;}
.menu_links li .btns {display: inline-block;border: 1px solid #7c838d;border-radius: 4px;padding: 9px 22px;color: #7c838d;font-size: 18px;line-height: 22px;}
/*menu css end here*/


/*Header css end here*/


/*Steps page css start here*/
.steps_inner {width: 100%;max-width: 800px;display: inline-block;padding: 20px 0 10px;}
.steps_inner ul {float: left;width: 100%;}
.steps_inner ul li {float: left;width: 33.33%;list-style: none;}
.step_num {width: 50px;height: 50px;background: #dee1e5;display: inline-block;border-radius: 100%;line-height: 50px;color: #fff;font-size: 0;position: relative;}
.step_type {width: 100%;float: left;margin-top: 5px;font-size: 18px;color: #dee1e5;}
.steps_inner ul li.active .step_num {background: #153dd5;font-size: 24px;} 
.steps_inner ul li.active .step_type {color:#153dd5;} 
.step_num::after {height: 2px;background:#dee1e5 ;width: 185px;content: "";position: absolute;top:50%;right:65px;}
.steps_inner ul li.active .step_num::after {background:#153dd5 ;}
.steps_inner ul li:first-child .step_num::after{display: none;}
.sign_up_steps {border-bottom: 1px solid #e1e3e7;background: #fff;}
.choose_ques_inner { width: 100%;max-width: 905px;display: inline-block;padding: 50px 0;}
.choose_ques_inner h2.coman_heading {margin-bottom: 25px;}
h2.coman_heading {margin: 0;font-size: 34px;font-family: 'Avenir Heavy';}
.ques_list { width: 50%;float: left;padding:35px;}
.question_tab {width: 100%;float: left;background: #fff;padding: 58px;border-radius: 4px;border: 1px solid #dfe1e5;min-height: 390px;position: relative;}
.question_tab p {font-size: 20px;text-align: left;}
.question_check {position: absolute;left: 58px;right: 58px;bottom: 58px;}
.question_check a {display: inline-block;background: #153dd5;height: 60px;width: 100%;border-radius: 5px;}
.upload_side {width: 100%;max-width: 350px;border: 1px dashed #dfe1e5;border-radius: 4px;background: #fff;min-height: 610px;position: relative;vertical-align: middle;display: inline-block;}
.upload_video {position: absolute;top: 50%;left: 0;right: 0;-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.edit_question .coman_heading {text-align: left;}
.edit_ques {width: 100%;display: inline-block;vertical-align: middle;max-width: 490px;}
.edit_question {width: 100%; float: left; padding-left: 80px;}
.change_ques p a {color: #153dd5;}
.progres_outer .progress {margin: 0;height: 3px;border-radius: 0;background: #dee1e5;display: inline-block;width: 80%;vertical-align: middle;text-align: left;}
.progres_outer {width: 100%;float: left;padding: 20px;}
.progres_outer .progress-bar{background:#153dd5;}
.progres_outer .value {color: #153dd5;font-size: 18px;display: inline-block;padding-left: 10px;vertical-align: middle;text-align: right;}
.video_come_here video { float: left;border-radius: 0 0 4px 4px;}

.upload_video h3 {margin: 25px 0 10px;font-size: 18px;color: #153dd5;font-family: 'Avenir Heavy';}
.upload_btn {position: relative;width: 100%;float: left;margin-top: 25px;}
.upload_text {text-align: center;cursor: pointer;color: #153dd5;font-size: 18px;font-weight: normal;padding: 20px 28px;border: 1px solid #dddddd;border-radius: 4px;line-height: 22px;}
.upload {width: 0.1px;height: 0.1px;z-index: -100;cursor: pointer;opacity: 0;}
.continue_btn {width: 100%; float: left; margin-top: 20px;text-align: left;}
.conti_btn{display: inline-block;padding: 15px 35px;background: #879be7;color: #fff;border-radius: 4px;font-size: 18px;}
.conti_btn:hover{color: #fff;}
.change_ques {width: 100%;background: #efefef;padding: 15px;text-align: left;border-radius: 4px;}
.change_ques p {font-size: 16px;line-height: 20px;}
.edit_question .change_ques_inner p {text-align: left;padding-bottom: 20px;color: #7c838d;}
.edit_question .change_ques_inner .change_ques p{padding: 0;}
.change_ques_inner h4 {text-align: left;margin: 20px 0 15px;color: #071031;font-size: 18px;font-family: 'Avenir Heavy';}
.change_ques_inner h3{text-align: left;margin: 0 0 10px;color: #071031;font-size: 18px;font-family: 'Avenir Heavy';}
.upload_inner {width: 100%;float: left;}
.almost_outer p {font-size: 20px;}
.almost_outer { width: 100%;display: inline-block;text-align: left;max-width: 685px;margin-bottom: 60px;}
.work_exc_form.work_exper_outer .left_filds ,.work_exc_form.work_exper_outer .right_filds{max-width: inherit; width: 50%;}
.step_three_outer { width: 100%;float: left;}
.skill_outer .experience_type{width: 100%;}
.skill_outer .search_box .fild_inner{max-width: 239px;}
.skill_outer .left_side{width: 50%;}
.skill_outer .select_experience {width: 25%; display: inline-block; margin-left: -5px;vertical-align: bottom;}
.skill_outer .fild_inner .bootstrap-select.btn-group .dropdown-toggle .caret{right: 5px;color:#153dd5;bottom: 12px;}
.click_complete { width: 100%;float: left; margin-top: 65px;}
.register_form_inner textarea {height: 50px;line-height: 48px;resize: none;}
.steps_inner ul li.active .step_num img {display: none;}
.skill_outer .specialties_check_list.search_box {margin: 0;}
.skill_outer .btn.dropdown-toggle.btn-default {border-color: #153dd5;height: 38px;margin: 0px 0 0px;padding: 0;position: relative;top: 5px;}
.skill_outer .bootstrap-select.btn-group .dropdown-toggle .filter-option{color:#153dd5;line-height: 43px;}
.start_end_yr .fild_inner { width: 50%;float: left;}
.experience_list_outer.start_end_yr .right_filds {width: 50%;max-width: inherit;padding: 0;}
.experience_list_outer.start_end_yr .left_filds {width: 50%;max-width: inherit;padding: 0;}
.experience_list_outer.start_end_yr .left_filds .fild_inner { padding-right: 30px;}
.experience_list_outer.start_end_yr .right_filds  .fild_inner { padding-left: 30px;}
.experience_list_outer.start_end_yr .left_filds .fild_inner:last-child { padding-right: 15px;}
.experience_list_outer.start_end_yr .right_filds  .fild_inner:first-child { padding-left: 15px;}
.currently_working{width: 100%;float: left;margin-top: 30px;}
.forgot_everthing{width: 100%;float: left;text-align: center;background:#f5f5f6;padding: 160px 0;}
.forgot_inner{;width: 100%;display: inline-block;vertical-align: middle;}
.forgot_everthing .forgot_inner {max-width: 740px;}
.forgot_inner h2 img {max-width: 37px;}
.user_register_form { width: 100%;float: left;text-align: center;padding: 100px 15px;}
.register_form_inner {width: 100%;display: inline-block;text-align: left;border: 1px solid #dfe1e5;border-radius: 4px;background: #fff;padding: 70px 110px;}
.privacy_dec{width: 100%;float: left;margin-bottom: 65px;}
.privacy_dec p{margin-bottom: 15px;line-height: 24px;color: #858585;}
.privacy_dec p span{font-family: 'Avenir Medium';color: #1a1a1a;}
.anonymous_checkbox { width: 100%;float: left;min-height: 22px;}
.user_form{width: 100%;float: left;}
.specialties_check { width: 100%;float: left;}
.specialties_check p span{color: #858585;font-family: 'Avenir Roman';}
.specialties_check_outer { width: 100%;float: left;margin: 30px 0 45px;}
.experience_type { width: 255px; display: inline-block;vertical-align: middle;padding-right: 15px;}
.experience_select {width: 100%; max-width:95px;display: inline-block;vertical-align: middle;}
.fild_inner .bootstrap-select.btn-group .dropdown-toggle .caret{right: 15px;top:auto;bottom: 15px;}
.experience_select.fild_inner .btn {font-size: 14px;height: auto;padding-bottom: 5px;line-height: 16px;}
.experience_select .btn-group.bootstrap-select.form-control {height: auto;}
.right_side {display: inline-block;padding-left: 5%;vertical-align: middle;width: 50%; margin-left: -4px;position: relative;}
.left_side {display: inline-block; vertical-align: middle;width: 50%;padding-right:5%;position: relative;}
.specialties_check_list .experience_type p {margin: 0;line-height: 18px;}
.specialties_check_list{width: 100%;float: left;margin-bottom: 20px;}
.specialties_check {border-bottom: 2px solid #d3d3d3;}
.type_head {width: 100%;float: left;position: relative;}
.search_box .form-control {height: auto;line-height: 16px;font-size: 16px;padding-bottom: 5px;}
.search_box .fild_inner {display: inline-block;max-width: 210px;width: 100%;}
.check_box_here {max-width: 27px;display: inline-block;}
.specialties_check_list .label_name {margin-left: 5px;color:#1a1a1a;width: 100%;max-width: 210px;}
.experience_select .dropdown-menu{padding: 1px 0;}
.experience_select .dropdown-menu li a{padding: 2px 10px;}
.tittle_heading { margin: 0;font-size: 18px;font-weight: normal;font-family: 'Avenir Medium'; color: #071031;}
.type_head p {margin-top: 10px;}
.left_filds{display: inline-block;vertical-align: middle; width: 100%;max-width: 303px; padding-right: 15px;}
.right_filds {display: inline-block;vertical-align: middle; width: 100%;margin-left: -4px;padding-left: 15px;max-width: 380px;}
.experience_list_outer {width: 100%;float: left;margin-bottom: 30px;}
.add_remove_outer {width: 100%;float: left;}
.remove_btn {display: inline-block;vertical-align: middle;padding-right: 38px;}
.add_remove_outer a{display: inline-block;color: #1a1a1a;font-size: 16px;}
.add_remove_outer .check_btn {width: 21px;height: 21px;border: 1px solid #1a1a1a;display: inline-block;vertical-align: bottom;position: relative;text-align: center;}
.add_btn {display: inline-block; vertical-align: middle;}
.btn_name {display: inline-block;vertical-align: bottom;line-height: 19px;text-decoration: underline;padding-left: 8px;}
.check_btn img {position: absolute;top: 50%;left: 50%;-ms-transform: translateX(-50%)translateY(-50%);-webkit-transform:translateX(-50%)translateY(-50%);-moz-transform: translateX(-50%)translateY(-50%);-o-transform:translateX(-50%)translateY(-50%);transform: translateX(-50%)translateY(-50%);}
.add_btn .check_btn img{max-width: 12px;}
.remove_btn .check_btn img{max-width: 10px;}
.experi_list_outer {width: 100%;float: left;}
.experi_list_outer.rapeat_section { margin-top: 35px;}
.experi_list_outer.rapeat {margin-top: 35px;}
.left_filds.college {max-width: 523px;width: 100%;}
.right_filds.grand_year {max-width: 160px;width: 100%;}
.submit_btn.btn {background: none;background:#153dd5; border-radius: 4px;font-size: 18px;padding: 22px 53px;color: #fff;}
.apply_now {width: 100%;float: left;}
.user_form form { display: inline-block; width: 100%;}
/*Sign up css end here*/



/*Login css start here*/
.login_outer {width: 100%;float: left;text-align: center;}
.login_inner {width: 100%;display: inline-block;max-width: 450px;padding: 150px 15px;}
.login_outer h2{margin: 0 0 80px;color: #071031;font-size:42px;font-family: 'Avenir Heavy';}
.filds_outer {width: 100%;float: left;position: relative;}
.login_outer .form-control {border: 1px solid #e0e2e6;margin-bottom: 30px;padding: 20px;border-radius: 5px;height: 60px;font-size: 16px;line-height: 60px;color: #7b828d;}
.login_inner .submit_btn.btn {width: 100%;margin: 10px 0;font-size: 22px;padding: 0;height: 60px;line-height: 58px;font-family: 'Avenir Book';}
.forgot_link {width: 100%;float: left;}
.forgot_link p{color: #163ed5;}
.forgot_link a{text-align: left;float: left;text-decoration: none;color: #163ed5;}
.forgot_link p .sign_in {text-align: left;}
.forgot_link p  .forgot{float: right;}
.logo h1 {display: inline-block;vertical-align: middle;}

/*Login css end here*/

/*Account page css start here*/
.account_setting {display: inline-block;vertical-align: middle;margin-left: 15px;padding: 7px 0 7px 15px;border-left: 2px solid #dfe1e5;font-size: 18px;}
.account_setting a{color: #011936;display: inline-block;text-decoration: none;}
.account_outer {width: 100%;float: left;padding: 50px 15px;text-align: center;}
.account_inner {width: 100%;display: inline-block;background: #fff;max-width: 965px;border-radius: 6px;border: 1px solid #e7e7e7;}
.edit_side {width: 100%;float: left;max-width: 200px;text-align: left;padding: 25px 0;}
.edit_side li{list-style:none;width: 100%;margin-bottom: 5px;}
.edit_side li a{color: #011936;font-size: 18px;padding: 10px 40px;display:inline-block;position: relative;}
.edit_side li.active a{color: #011936;font-family: 'Avenir Heavy';}
.edit_side li.active a::after {content: "";position: absolute;left: 0;height:100%;width: 2px;background: #011936;top: 0;}
.page_edit_here {float: left;padding: 40px 40px 40px 80px;width: 100%;max-width: 760px;border-left: 1px solid #e7e7e7;}
.apply_now.save_edit {text-align: left;margin: -20px 0 0;}
.apply_now.save_edit .submit_btn.btn {padding: 11px 0;width: 100%;max-width: 160px;}
.page_edit_inner { width: 100%;float: left;}
/* For Firefox */
input[type='number'] { -moz-appearance:textfield;}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;margin: 0;}
.page_edit_inner textarea.custom_textarea {font-family: 'Avenir Book';border-radius: 0;box-shadow: none;color: #1a1a1a !important;background-image: none !important;box-shadow: none !important;display: inline-block;vertical-align: middle;border: none;border-bottom: 2px solid #d3d3d3;max-height:110px;line-height: 28px;resize: none;white-space: normal;padding-top: 10px;width: 100%;height: 50px;}
.page_edit_inner textarea.custom_textarea:focus{border: none; border-bottom: 2px solid #153dd5;outline: none;}
.page_edit_inner p {text-align: left;font-size: 22px;line-height: 32px;}
.billing_summary {width: 100%;float: left;border-bottom: 2px solid #d3d3d3;padding-bottom: 30px;}
.billing_summary li{width: 100%;float: left;list-style: none; margin-top: 10px;font-size: 16px; color: #7c838d;font-family: 'Avenir Book';}
.billing_summary ul {width: 100%;float: left;text-align: left;}
.billing_summary .charged {float: left;width: 100%;text-align: left;padding-left: 15px;max-width: 150px;}
.billing_summary .date_format {width: 100%;float: left;padding-right: 15px;max-width: 415px;}
.page_edit_inner .talent_dash p {font-size: 18px;line-height: 22px;}
.page_edit_inner .talent_dash .upload_video p {text-align: center;}
.talent_dash .change_ques { margin: 20px 0 40px;}
.talent_dash {width: 100%;float: left;max-width: 470px;}
.talent_dash .upload_side{max-width: 420px;min-height: 530px;}
.slide_down.btn { display: none;}
/*Account page css end here*/

/*employer dash HTML Start here*/
.account_setting a.filter_btn { display: inline-block; border: 1px solid #dfe1e5;border-radius: 4px;padding: 9px 22px;color: #153dd5;font-size: 18px;line-height: 22px;margin-left: 15px;}
.filter_btn img {max-width: 25px;display: inline-block;vertical-align: middle;padding-right: 7px;}
.account_setting a.filter_btn span {display: inline-block;vertical-align: middle;}
.employer_dash .coman_inner {max-width: 1007px;width: 100%;display: inline-block;}
.candidate_list {display: inline-block;width: 100%;border: 1px solid #e6e6e6;border-radius: 5px;background: #fff;margin-bottom: 50px;}
.coman_outer.employer_dash {padding-top: 65px;}
.candidate_video { float: left;text-align: left;width: 100%;max-width: 550px;position: relative;}
.candidate_dec { max-width: 455px;float: left; padding:45px; text-align: left;width: 100%;min-height: 750px;position: relative;}
.candidate_video  video{ border-radius: 5px 0 0 5px;float: left;}
.candidate_dec h3 {font-size: 22px;color: #011936;margin: 0;font-family: 'Avenir Heavy';}
.candidate_dec h4 {margin: 5px 0 40px; color: #8e959e;font-size: 20px;line-height: 26px;}
.candidate_dec p{color: #011936;font-size: 20px;line-height: 28px; margin: 0;font-family: 'Avenir Roman';}
.candidate_dec h3 img{max-width: 30px;}
.candidate_inner {width: 100%;float: left;}
.candidate_inner span.position{width: 88%;display: inline-block;vertical-align: middle;}
.candidate_inner span.hide_icon{width: 12%;display: inline-block;vertical-align: middle;margin-left: -5px;text-align: right;}
.action_list {padding: 30px 0 ;border-top: 2px solid #e6e6e6;position: absolute;bottom: 0;right: 45px;left: 45px;}
.action_list ul {width: 100%;float: left;}
.action_list ul li{list-style: none;float: left;padding-right: 15px;}
.action_list ul li:last-child{padding: 0;}
.contact_btn ,.contact_btn:hover{background: #153dd5;color: #fff;font-size: 18px;padding:0 22px;border-radius: 5px;display: inline-block;height: 45px;line-height: 45px;}
.action_btn{padding: 9px 22px;border-radius: 5px;border: 1px solid #dfe1e5;display: inline-block;height: 45px;}
.candidate_video .progres_outer {position: absolute;left: 0; bottom: 0;padding: 0;}
.candidate_video .progres_outer .progress {width: 100%;float: left;height: 8px; background: transparent;border-radius: 0 0 0 5px;}
/*employer dash HTML end here*/

/*talent dash HTML Start here*/
.coman_outer.engagement_outer {margin-top: 50px;padding: 0 7vh;}
.engagement_outer .engagement_inner {width: 100%;max-width: 1345px;display: inline-block;}
.engagement_box{border-radius: 5px; border: 1px solid #dfe1e5;background: #fff;margin-bottom: 50px;}
.engagement_box h2 {margin: 0;padding: 22px 30px;text-align: left;border-bottom: 1px solid #dfe1e5;font-family: 'Avenir Heavy';font-size: 24px;}
.engagement_num { width: 100%;float: left;padding: 30px 0;}
.engagement_num li {width: 33.33%;float: left;list-style: none;text-align: left;padding:0 30px;border-right: 2px solid #dfe1e5;}
.engagement_num li:last-child{border: none;}
.engagement_num ul li h3 {margin: 0;font-size: 38px;color: #011936;font-family: 'Avenir Heavy';}
.engagement_num ul li h4{color: #7c838d;margin: 0; font-size: 22px;font-family: 'Avenir Roman';}
.engagement_num ul li h3  span{font-family: 'Avenir Medium';font-size: 22px;padding-left: 5px;position: relative;bottom: -2px;}
.plus_num{color:#62d4a9;}
.red_num{color:#e1664d;}
.top_industry {width: 100%;float: left;padding: 30px;}
.top_industry li{width: 100%;float: left;list-style: none;text-align: left; margin: 4px 0;}
.top_industry h3 {margin: 0 0 25px;text-align: left;font-size: 24px;font-family: 'Avenir Heavy';}
.top_industry .info_name {font-size: 20px;display: inline-block;color: #011936;width: 100%;max-width: 335px;vertical-align: middle;}
.top_industry .progres_outer {width: 100%; float: none;padding: 0; display: inline-block; max-width: 515px;vertical-align: middle;}
.top_industry .progres_outer .progress{height: 8px;background: none;box-shadow: none}
.top_industry .progres_outer span {font-size: 20px;display: inline-block;vertical-align: middle; color: #011936; padding-left: 5px;}
.auto_apply .auto_apply_inner {width: 100%; max-width: 1344px;display: inline-block;text-align: left;}
.auto_apply { width: 100%;float: left; margin-top: 50px; padding: 0 50px}
.auto_apply .candidate_video{border: 1px solid #e9e9e9;border-radius: 5px;float: none;display: inline-block;vertical-align: middle;}
.share_gist {display: inline-block;vertical-align: middle;width: 100%;max-width: 345px;}
.share_gist h2 {margin: 0;font-size: 28px;color: #011936;font-family: 'Avenir Heavy';}
.share_gist p{font-size: 20px;color: #011936;}
.auto_apply_btn {width: 100%;float: left;margin: 20px 0 10px;}
.auto_apply_btn .btn {background: #153dd5;font-size: 20px;color: #fff;padding: 12px 25px;width: 100%;max-width: 180px;line-height: normal;}
.auto_apply_btn .btn span {display: inline-block;vertical-align: middle;}
.bolt_icon{margin-right: 10px;}
.share_btn{width: 100%;float: left;}
.share_btn .btn{border: 1px solid #dfe1e5; color: #153dd5;padding: 12px 25px;font-size: 20px;width: 100%;max-width: 180px;background: #fafafa;}
/*talent dash HTML end here*/

/*Loader css start here*/
.spinner {left: 0;position: fixed;right: 0;top: 50%;transform: translateY(-50%);border-radius: 0;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);text-align: center;}
.loader_outer {background: hsla(0,0%,100%,.8);bottom: 0;top: 0;z-index: 99999;display: none;}
.loader_outer,.banner_img .spinner {left: 0;position: absolute;right: 0;background: #ffffff;display: block;}
 #loader h2 {font-family: 'Avenir Heavy';text-align: center;font-size: 46px;color: #c7c7c7;margin-bottom: 15px;}
.spinner .bounce1 {-webkit-animation-delay: -.32s;animation-delay: -.32s;}
.spinner div {width: 22px;height: 22px;background-color: #c7c7c7;border-radius: 100%;display: inline-block;-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;animation: sk-bouncedelay 1.4s infinite ease-in-out both;animation-delay: 0s;}
.spinner .bounce2 {-webkit-animation-delay: -.16s;animation-delay: -.16s;}
@-webkit-keyframes sk-bouncedelay {0%, 80%, 100% { -webkit-transform: scale(0) }40% { -webkit-transform: scale(1.0) }}
@keyframes sk-bouncedelay {0%, 80%, 100% { -webkit-transform: scale(0);transform: scale(0);} 40% { -webkit-transform: scale(1.0);transform: scale(1.0);}}
/*Loader css end here*/
/*filter  css start here*/
.filter_popup {background: #fafafa;text-align: center;padding: 0 !important;}
.filter_popup #myModalLabel {text-align: center;font-size: 44px;margin: 0 0 60px;font-family: 'Avenir Medium';}
.filter_popup .modal-dialog {/*max-width: 390px;display: inline-block;vertical-align: middle;*/margin: 0;width: 100%;}
.filter_popup .modal-header {border-bottom: 2px solid #e3e5e9;background: #fff;padding: 20px 7vh;text-align: left;}

.filter_popup .modal-footer{border: none;text-align: center;padding: 0;}
.filter_popup .modal-body{padding: 0 0 70px;position: relative;text-align: left;}
.filter_popup .modal-content { padding: 0;box-shadow: none;border: none;background: transparent;}
/*.filter_popup::before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}*/
.close_btn.btn {background: no-repeat;padding: 0;border: none;}
.filter_popup .modal-title.talent_filters {font-size: 32px; color: #011936;}
.talent_filters { display: inline-block;vertical-align: middle; padding-left: 30px;}
.filter_list_outer { max-width: 1088px; width: 100%;display: inline-block;padding-left: 120px;}
.filter_list {width: 100%;display: inline-block;padding: 50px 0;border-bottom: 2px solid #dfe1e5;}
.filter_list h2 { margin: 0 0 25px;font-family: 'Avenir Heavy';color: #011936;font-size: 24px;}
.filter_switch p {color: #011936;font-size: 18px;}
.saved_candidates {display: inline-block;width: 50%;vertical-align: middle;}
.on_off_switch {display: inline-block;vertical-align: middle;width: 50%;margin-left: -5px;}
.on_off_switch .switch {position: relative;display: inline-block;width: 85px;height: 47px;margin: 0;}
.on_off_switch .switch input {  opacity: 0;width: 0;height: 0;}
.on_off_switch .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #fff;-webkit-transition: .4s;transition: .4s;border: 1px solid #e4e5e9;border-radius: 5px;}
.on_off_switch .slider:before {position: absolute;content: "";height: 22px;width: 22px;left: 10px;background-color: #dfe1e5;-webkit-transition: .4s;transition: .4s;border-radius: 100%;top: 50%;-ms-transform: translateX(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%); }
.on_off_switch input:checked + .slider {background-color: #153dd5;border: 1px solid #153dd5;}
.on_off_switch input:focus + .slider {box-shadow: 0 0 1px #153dd5;}
.on_off_switch input:checked + .slider:before {/*-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);*/left: 50px;}
.filter_popup .experience_type {max-width: inherit;padding: 0;width: 100%;}
.filter_popup  .specialties_check_list .label_name{max-width:inherit;width: 90%;padding-left: 6px;}
.filter_popup  .check_boxes {display: inline-block;position: relative;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;width: 24px;height: 24px;margin: 0;vertical-align: middle;}
.filter_popup .checkmark {height: 24px;width: 24px;border: 1px solid #d4d7db;border-radius: 5px;}
.filter_popup .check_boxes input:checked ~ .checkmark::after{display: none;}
.filter_popup .check_boxes .checkmark::before {transform: rotate(45deg);}
.filter_popup .check_boxes .checkmark::before {left: 8px;top: 2px;width: 7px;height: 16px;border: solid #fff;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);position: absolute;content: "";background-color: #153dd5;}
.filter_popup input:checked ~ .checkmark {background-color: #153dd5;border-color:#153dd5;}
.filter_popup .check_boxes:hover input ~ .checkmark {background-color: #153dd5;}
.filter_popup .specialties_check_outer{margin: 0;}
.filter_popup .specialties_check_list:last-child{margin: 0;}
.filter_popup .fild_outer.specialties_check{margin: 0;border-bottom: none;}
.filter_popup .fild_outer.specialties_check {margin: 0;border: none;}
.filter_popup .show_all a { color: #153dd5;font-size: 16px;}
.filter_popup .show_all img {max-width: 15px;margin-left: 5px;}
.filter_popup textarea {height: 65px;line-height: 63px;resize: none; border: 1px solid #d3d3d3; padding: 0 20px; border-radius: 5px; font-size: 18px;font-family: 'Avenir Roman';}
.filter_popup .fild_outer{margin-bottom: 0;}
.filter_strip {width: 100%;float: left;padding: 16px 0;background: #153dd5;text-align: center;position: fixed;bottom: 0;left: 0;right: 0;}
.filter_strip a {color: #fff;font-size: 18px;margin-right: 20px;display: inline-block;vertical-align: middle;}
.filter_strip .btn {color: #153dd5;font-size: 22px;padding: 9px 22px;background: #fff;border-radius: 5px;display: inline-block;vertical-align: middle;}
.filter_strip .btn  span{font-family: 'Avenir Heavy';}
/*filter  css end here*/

/*First time sig in css start here*/
.first_time_sign_in {position: fixed;top: 0;left: 0;right: 0;z-index: 999;text-align: center;background: #163ed5;padding: 10px;}
.first_time_sign_in p{color: #fff;}
.copied_clipboard {background: #153dd5;padding:15px;border-radius: 5px;position: absolute;width: 100%;bottom: -105px;}
.copied_clipboard p{color: #fff;}
/*First time sig in css start here*/




/*Collage  css start here*/
.collage_inner {max-width: 800px; display: inline-block; width: 100%; padding: 80px 15px;}
.banner_dec h2 {margin: 0 0 40px;font-size: 46px;font-family: 'Avenir Medium';text-align: center;}
.banner_dec p{font-size: 22px;font-family: 'Avenir Roman'; line-height: 36px;}
.user_register_form.cantainer_form .register_form_inner { max-width: 1024px;}
.cantainer_form .submit_btn.btn {background: #153dd5;font-size: 22px;padding: 14px 53px;max-width: 180px;width: 100%;}
.employ_splash_inner .main_heading {margin: 0;}
/*Collage  css end here*/

/*auto apply popout css start here*/
.send_btn .btn {background: none;color: #163ed5;font-size: 18px;border: 1px solid #dfe1e5;padding: 9px 25px;border-radius: 5px;width: 100%;max-width: 110px;}
.auto_apply_popout p {font-size: 20px;margin-bottom: 25px;}
.auto_apply_popout .send_btn {float: none;display: inline-block;}
.auto_apply_popout .fild_outer{float: none;display: inline-block;margin-bottom: 30px;}
.auto_apply_popout .fild_inner .form-control{border-color:#163ed5;color: #163ed5 !important; }
.auto_apply_popout .fild_inner .form-control:focus{box-shadow: none;border-color: #163ed5;}
.auto_apply_popout .fild_inner .form-control::-webkit-input-placeholder {color:#163ed5;}
.auto_apply_popout .fild_inner .form-control:-moz-placeholder {color:#163ed5;opacity:1;}
.auto_apply_popout .fild_inner .form-control::-moz-placeholder {color:#163ed5;opacity:1;}
.auto_apply_popout .fild_inner .form-control:-ms-input-placeholder {color:#163ed5;}
.auto_apply_popout .fild_inner .form-control::-ms-input-placeholder {color:#163ed5;}
/*auto apply popout css end here/*


























/*modal css start here*/
.modal-open {overflow: auto;}
/*popup css start here*/
.popup_outer .modal-header {min-height: inherit;padding:20px 0;border-bottom: none;border-bottom: 2px solid #bcbdc0;}
.popup_outer .modal-footer {padding: 0;border-top: none;}
.popup_outer .modal-content{border-radius: 10px;box-shadow: none;border: none;}
.popup_outer .close img {max-width: 22px;}
.popup_outer {padding: 0 !important;}
.popup_outer .close {position: absolute;right:25px;z-index: 99;opacity: 1;top:25px;}
.popup_outer .close:hover {opacity: 0.8;}
.popup_outer .modal-body {position: relative;padding: 40px 50px;margin: 0 auto;}
.popup_outer .modal-footer{border-radius: 0px 0 10px 10px;padding: 0;text-align: center;}
.popup_modal .modal-backdrop{background: rgba(33,33,33, 0.8); opacity: 1;}
.popup_outer {text-align: center;padding: 0!important;}
.popup_outer:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}
.popup_outer .modal-dialog {display: inline-block;text-align: left;vertical-align: middle;width: 90%;max-width: 590px;}
.popup_outer h3 { text-align: center;color: #011936;font-size: 26px;font-family: 'Avenir Medium';margin: 0;}
.popup_outer .modal-body h4 {margin: 0 0 30px;font-size: 24px;font-family: 'Avenir Medium';}
.popup_outer .modal-body h4.cancel_btn{margin-bottom: 0;}
.popup_outer .modal-body h4 a{color: #011936;display: inline-block;vertical-align: middle;}
.popup_outer .modal-body h4.email a{color: #153dd5;}
.popup_outer .modal-body h4 .icon_type{display: inline-block;vertical-align: middle; width: 75px;text-align: left;}
.popup_outer .modal-body h4 span {display: inline-block;vertical-align: middle;}
/*popup css end here*/




















/*Form filds css start here*/
/* The check_boxes */
.page_outer_section .check_boxes {display: inline-block;position: relative;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;width: 22px;height: 22px;margin: 0;vertical-align: middle;}
.check_boxes input {position: absolute;opacity: 0;cursor: pointer;width: 22px;height: 22px;margin: 0;}
.checkmark {position: absolute;top: 0;left: 0;height: 21px;width: 21px;border: 1px solid #1a1a1a;}
.check_boxes:hover input ~ .checkmark {background-color: #f5f5f6;}
.checkmark:after,.checkmark:before {content: "";position: absolute;display: none;}
.check_boxes input:checked ~ .checkmark:after,.check_boxes input:checked ~ .checkmark:before {display: block;}
.check_boxes .checkmark:before,.check_boxes .checkmark:after{  position: absolute;left: 50%;content: ' ';height: 15px;width: 2px;background-color: #1a1a1a;left: 9px;top: 2px;}
.check_boxes .checkmark:after{transform: rotate(-45deg);}
.check_boxes .checkmark:before{transform: rotate(45deg);}
.label_name{display: inline-block;vertical-align: middle;margin-left: 10px;}
.fild_outer {width: 100%;float: left;margin-bottom: 65px;}
.fild_outer label { margin: 0;font-size: 18px;font-family: 'Avenir Medium';font-weight: normal; color: #071031;text-align: left;width: 100%;display: inline-block;}
.form-control,.fild_inner .btn {font-family: 'Avenir Roman';border-radius: 0;box-shadow: none;border-color: transparent;font-size: 18px;color: #1a1a1a !important;background-image: none!important;box-shadow: none!important;display: inline-block;vertical-align: middle;border:none;border-bottom: 2px solid #d3d3d3;white-space: nowrap;line-height: 23px;vertical-align: middle; height: 50px;padding: 0;}
.form-control,.fild_inner .btn span{color: #858585;}
.fild_inner .btn:hover{background: none;}
.fild_inner .btn-group.bootstrap-select.show-tick.form-control.open .fild_inner .btn,.btn-default.focus, .btn-default:focus{border-color: #153dd5;background: none !important;}
.fild_inner .dropdown-menu li a:focus,.fild_inner .dropdown-menu li a:hover{background:#153dd5;color: #fff;}
.fild_inner .dropdown-menu li a{border-bottom: 1px solid #fff; }
.fild_inner .dropdown-menu {border-radius: 0;margin: 0;}
.fild_inner .caret {border-top: 7px dashed;border-right: 6px solid transparent;border-left: 6px solid transparent;}
.fild_inner .bootstrap-select.btn-group .dropdown-toggle .caret{color: #000;}
.fild_inner .btn-default.active.focus, 
.fild_inner .btn-default.active:focus, 
.fild_inner .btn-default.active:hover, 
.fild_inner .btn-default:active.focus, 
.fild_inner .btn-default:active:focus, 
.fild_inner .btn-default:active:hover, 
.fild_inner .open .dropdown-toggle.btn-default.focus, 
.fild_inner .open .dropdown-toggle.btn-default:focus, 
.fild_inner .open .dropdown-toggle.btn-default:hover {color: #121212;background: none !important;border-color: #153dd5;}
.fild_inner .btn-group.open .dropdown-toggle{background: none;}
.form-control:focus{box-shadow: none;border-color: #153dd5;}
.form-control::-webkit-input-placeholder {color:#7c838d;}
.form-control:-moz-placeholder {color:#7c838d;opacity:1;}
.form-control::-moz-placeholder {color:#7c838d;opacity:1;}
.form-control:-ms-input-placeholder {color:#7c838d;}
.form-control::-ms-input-placeholder {color:#7c838d;}
.fild_inner span.errror,.fild_inner span.error.edu_error ,.fild_inner span.error.exp_error{position: absolute;left: 0;top: 40px;color: #ff0000;font-size: 14px;}
.fild_inner span.error.edu_error{white-space: nowrap;}
.fild_inner {position: relative;}
.type_head span#location_error,.type_head  span#speciality_error,.type_head  #skill_error{position: absolute;left: 0;top: 60px;color: #ff0000;font-size: 14px;}
/*Form filds css end here*/


